.articles {
	list-style-type: none;
	}
.articles li {
	margin-bottom: 5px;
	}
#introarticles {
	float: left;
	width: 48%;
	}
#findinginfo {
	float: right;
	width: 48%;
	}
dt {
	font-size: 140%;
	margin-top: 1em;
	margin-bottom: 0.5em;
	}
dd {
	margin-top: 0.5em;
	}


@media print {

#introarticles, #findinginfo {
	float: none;
	width: 100%;
	}
}