@font-face {
    font-family: 'Noto Sans Mongolian WF';
    src: 	url('https://www.w3.org/International/webfonts/notosansmongolian-regular-webfont.woff2') format('woff2'),
         	url('https://www.w3.org/International/webfonts/notosansmongolian-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}

:lang(mn) {
	font-family: "Noto Sans Mongolian", "Noto Sans Mongolian WF", "Mongolian Baiti", "Mongolian White", sans-serif;
	}

/*
.annotatedCode {
	display: flex;
	flex-flow: row nowrap;
	}
.acFigure {
	margin: 0 0 0 7.5%;
	width: 60.5%;
	}
.acNote {
	margin: 0 2% 0 3%;
	width: 25%;
	}
.annotatedCode figure {
	margin: 0;
	}
.annotatedCode aside {
	margin: 0;
	float: none;
	width: 100%; 
	}
.simpleimplnote {
	color: #666;
	background-color: #ffeadd;
	font-size: 80%;
	line-height: 1.2em;
	border: 1px solid #CCC;
	padding: 5px 10px 5px 15px;
	border-radius: 10px;
	}
.simpleimplnote p {
    margin: .5em 0;
	}
	
.impl::before {
    float: right;
    font-family: Old English, Georgia,serif;
    font-size: 300%;
    line-height: 1em;
    margin-left: 0.3em;
    margin-bottom: 0;
    font-weight: 700;
	}

.flexNoteBox {
	display: flex;
	vertical-align: top;
	}
.flexMain {
	width: 60.5%;
	margin-left: 7.5%;
	}
.flexMain p {
	margin: 0;
	}
.flexNote {
    float: none;
    width: 25%;
    line-height: 1.2em;
    border: 1px solid #CCC;
    padding: 5px 10px 5px 15px;
    border-radius: 10px;
    margin-left: 3%;
	}
.flexNote p {
	margin:0;
	font-size: 80%;
	}
.flexNote aside {
	margin: 0;
	float: 0;
	}
*/

.annotatedCode {
	display: flex;
	flex-flow: row nowrap;
	}
.acFigure {
	margin: 0 0 0 7.5%;
	width: 60.5%;
	}
.acNote {
	margin: 0 2% 0 3%;
	width: 25%;
	}
.annotatedCode figure {
	margin: 0;
	}
.annotatedCode aside {
	margin: 0;
	float: none;
	width: 100%; 
	}
.simpleimplnote {
	color: #666;
	/*background-color: #ffeadd;*/
	font-size: 80%;
	line-height: 1.2em;
	/*border: 1px solid #CCC;*/
	padding: 5px 10px 5px 15px;
	border-radius: 10px;
	}
.simpleimplnote p {
    margin: .5em 0;
	}
/*.impl::before {
    float: right;
    font-family: Old English, Georgia,serif;
    font-size: 300%;
    line-height: 1em;
    margin-left: 0.3em;
    margin-bottom: 0;
    font-weight: 700;
	}
	*/
.acFigure p {
	margin-left: 0;
	margin-right: 0;
	}
.implnote {
	background-color: white;
	border: 0;
	}
.impl::before {
    content: '';
	}





.flexAnnotation {
	display: flex;
	flex-flow: row nowrap;
	}
.faMain {
	margin: 0 0 0 7.5%;
	width: 60.5%;
	}
.faNote {
	margin: 0 2% 0 3%;
	width: 25%;
	}
.flexAnnotation figure {
	margin: 0;
	}
.flexAnnotation aside {
	margin: 0;
	float: none;
	width: 100%; 
	}
.simpleimplnote {
	color: #666;
	/*background-color: #ffeadd;*/
	font-size: 80%;
	line-height: 1.2em;
	/*border: 1px solid #CCC;*/
	padding: 5px 10px 5px 15px;
	border-radius: 10px;
	}
.simpleimplnote p {
    margin: .5em 0;
	}
/*.impl::before {
    float: right;
    font-family: Old English, Georgia,serif;
    font-size: 300%;
    line-height: 1em;
    margin-left: 0.3em;
    margin-bottom: 0;
    font-weight: 700;
	}
	*/
.faMain p {
	margin-left: 0;
	margin-right: 0;
	}
.implnote {
	background-color: white;
	border: 0;
	}
.impl::before {
    content: '';
	}
figcaption .demolink {
	display: block;
	font-size: 80%;
	text-align: center;
	}
.faMain .example {
	text-align: left;
	}
.faMain figure {
	text-align: center;
	}

.figWrap {
	margin-left: 7.5%;
	margin-right: 32%;
	}
.figWrap figure {
	text-align: center;
	margin-left: 0;
	margin-right: 0;
	margin: 0;
	}
.demolink { 
	font-size: 70%; 
	position: static; 
	text-align: left;
	margin-left: 1em;
	margin-bottom: 1em;
	}
.example .demolink { 
	font-size: 70%; 
	position: static; 
	text-align: right;
	margin: 0;
	}
