pre { margin-left: 7.5%; }


/* ======== CSS for the expanding tabs ========== */

    #tabs {
      background:#fff;
      margin:0;
      padding:0;
      color:#000;
      font:x-small/1.5em Georgia,Serif;
      voice-family: "\"}\""; voice-family:inherit;
      font-size:small;
      margin-left: 7.5%;
      margin-right: 32%;
      } 
    
    .tabspace {
      float:left;
      width:100%;
      background:#DAE0D2 url("slidingdoors/bg.gif") repeat-x bottom;
      font-size:93%;
      line-height:normal;
      margin-bottom: 1em;
      }
    .tabspace ul {
      margin:0;
      padding:10px 10px 0;
      list-style:none;
      }
    .tabspace li {
      float:left;
      background:url("slidingdoors/left.gif") no-repeat left top;
      margin:0;
      padding:0 0 0 9px;
      }
    .tabspace a {
      float:left;
      display:block;
      background:url("slidingdoors/right.gif") no-repeat right top;
      padding:5px 15px 4px 6px;
      text-decoration:none;
      font-weight:bold;
      color:#765;
      }
    /* Commented Backslash Hack
       hides rule from IE5-Mac \*/
    .tabspace a {float:none;}
    /* End IE5-Mac hack */
    .tabspace a:hover {
      color:#333;
      }
    .tabspace .current {
      background-image:url("slidingdoors/left_on.gif");
      border-width:0;
      }
    .tabspace .current a {
      background-image:url("slidingdoors/right_on.gif");
      color:#333;
      padding-bottom:5px;
      }

/* ======== CSS for the expanding box ========== */

.expandingbox {
      margin-left: 7.5%;
      margin-right: 32%;
      } 
.expandingbox + .sidenoteGroup { 
     clear: both;
     }
.container {
  float: left;
  margin: 20px 20px;
  padding: 0;
  color: #666;
  background: url(slidingdoors/rounded-right.gif) top right no-repeat;
  max-width: 250px;
  text-align: left;
  } 
.desc {
  margin: 0;
  padding: 9px 9px 0 9px;
  background: url(slidingdoors/rounded-left.gif) top left no-repeat;
  }
.link {
  margin: 0;
  padding: 0 0 0 9px;
  background: url(slidingdoors/rounded-left.gif) bottom left no-repeat;
  }
.link em {
  display: block;
  padding: 0 9px 9px 0;
  font-style: normal;
  background: url(slidingdoors/rounded-right.gif) bottom right no-repeat;
  }
.container a {
  font-size: 130%;
  color: #e70;
  }
