body { 
	background-color: #ffffee; 
	font-size: 20px; 
	font-family: tahoma, verdana, sans-serif; 
	color: #001697; 
	}

.instructions {
	font-size: 70%;
	color: gray;
	}

[dir='ltr'], [dir='rtl'] { 
	unicode-bidi: -webkit-isolate;
	unicode-bidi: -moz-isolate;
	unicode-bidi: -ms-isolate;
	unicode-bidi: isolate;
	} 
bdo[dir='ltr'], bdo[dir='rtl'] {
	unicode-bidi: bidi-override; 
	unicode-bidi: -webkit-isolate-override; 
	unicode-bidi: -moz-isolate-override; 
	unicode-bidi: -ms-isolate-override; 
	unicode-bidi: isolate-override;
  	}body { background-color: #ffffee; } .test { font-size: 110%; }
