@font-face {
    font-family: 'RalewayWF';
    src: url('fonts/raleway-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    }
@font-face {
    font-family: 'RalewayWF';
    src: url('fonts/raleway-bold-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    }
@font-face {
    font-family: 'RalewayWF';
    src: url('fonts/raleway-italic-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    }
body {
    font-family: RalewayWF, Helvetica, 'Helvetica Neue', Arial, "Segoe UI", sans-serif;
    font-size: 18px;
    line-height: 1.75;
	color: #666;
	font-weight: normal;
	margin: 0;
	padding: 0;
	background-color: white;
	}
body.obsolete section,
body.obsolete div.section, body.obsolete div.section2,
body.obsolete h2, body.obsolete h3 {
	text-decoration: line-through;
	}
:lang(cs), :lang(hu), :lang(ro), :lang(tr), :lang(vi) { 
	font-family: Roboto, "Arial", "Segoe UI", sans-serif;
	}




/* ************** counters ****************** */

body { counter-reset: figure; }

figcaption { font-size: 90%; }

figcaption { counter-increment: figure; }

figcaption::before { content: "Fig. " counter(figure) ". "; }


/* ************** set margins **************** */

p, h2, h3, h4, dl, figure { margin-left: 7.5%; margin-right: 32%; }

table { margin-left: 7.5%;  }
table.inband { margin-right: 32%; }
figure table { margin-left: 0; margin-right: 0; }
figure.table { margin-left: 7.5%; margin-right: 32%; padding: 1em 0; }

p, li, blockquote { max-width: 70em; }

ul, ol { margin-left: 12.5%; margin-right: 34%; padding-left:0; }
ul ul { margin-left: 2%; margin-right: 5%; }
ol ul { margin-left: 2%; margin-right: 5%; }
li {margin-left:0; padding-left: 0; }
li p { margin-left: 0; margin-right: 0; }
li li { margin-right: 0; }
li .example { margin-left: 0; margin-right: 0; }

blockquote { margin-left: 11%; margin-right: 34%; }
blockquote p { margin-left: 0; margin-right: 0; }
blockquote ol { margin-right: 0; }

.example { margin-left: 7.5%; margin-right: 32%; }
.example-wide { margin-left: 7.5%; margin-right: 5%; }
.example dl { margin-right: 0; }
.example dd { margin-right: 0; }
.example p { margin-left: 0; margin-right: 0; }
.sidenote p { margin-left: 0; margin-right: 0; }
.example blockquote { margin-left: 1em; margin-right: 1em; }

figure { display:block; padding: 10px 3%; position: relative; }
figure p, figure pre { margin-left: 0; margin-right: 0; }
.demolink { font-size: 70%; position: absolute; bottom: 0.5em; right: 1em; }
.inlinedemolink { font-size: 80%; margin-left: 1em; margin-start: 1em;  }
figcaption {
	font-style: italic;
	}

dt, dd { margin-bottom: 0; }
dd .example { margin-left: 0; margin-right: 0; }
dd p { margin-left: 0; margin-right: 0; }



/* ************** sections **************** */


section > p { 
	text-align:justify;
	}

aside {
	float: right; 
	width: 28%;
	clear: right;
	}
aside h2 {
	margin-top: 40px;
	margin-left: 16px;
	margin-right: 3%;
	}
aside p {
	margin-left: 30px;
	margin-right: 20px; 
	text-align: start;
	}
aside ul {
	margin-left: 30px;
	margin-right: 20px; 
	padding: 0;
	}
aside li {
	list-style-position: inside;	
	}


#sidebarExtras {
	display: none;
	}


/* ************** links **************** */

a {
	text-decoration: none;
	color: #005a9c;
	font-weight: 400;
	}
a:visited {
	font-weight: 400;
	color: teal;
	}
a:hover {
	color:  #005a9c;
	background: #FFC;
	text-decoration: underline;
	}
	
	
header a {
	font-weight: 300;
	}



/* ************** structural styles **************** */

#mainNavigation { 
	line-height: 1.4; 
	}


#site-navigation {
	background-color:white;
	color: #7FFFD4; 
	padding-top: 1em;
	padding-bottom: 0;
	/* background-image: url(standards-corner.png); */
	background-position: top right;
	background-repeat: no-repeat;
	margin-top: 5em;
	}
#site-navigation ul {
	margin-left: 30px;
	margin-right: 20px; 
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	}
#site-navigation li {
	display: inline;
	margin-right: 10px;
	}
#site-navigation a {
	white-space: nowrap;
	}
#site-navigation a:link {
	color: #b8cbcb;
	background-color: white;
    color: #5C7A7A;
	}
#site-navigation a:active {
	color: #b8cbcb;
	background-color: white; 
	}
#site-navigation a:visited {
	color: #b8cbcb;
	background-color: white; 
	text-decoration: none;
	}
#site-navigation a:hover {
	color: white;
	background-color: #003163; 
	border-radius: 3px;
	text-decoration: none;
	}


#disclaimer {
	/* text-align: left; */
	font-size: 80%; 
	line-height: 1em; 
	background-color: transparent; 
	}
#disclaimer p {
	color: #C30;
	font-size: 115%; 
	line-height: 1.2em;
	}


#search {
	}
#searchField {
	background-color: #C08D34; 
	background-color: #5F9EA0;
	border: 0;
	margin-right: 5px;
	}
#searchSite {
	background-color: teal;
	color: #7FFFD4;
	/* text-align: left; */
	font-size: 80%;
	padding: 0px 5px 0px 5px;
	margin: 30px 49px 10px 18px;
	border-radius: 5px;
	margin-right:10px;
	background-color: #006aaf;
	color: white;
	}
#searchSite input {
	width:90%; 
	/* background-image: url(/International/style/search.png); 
	background-position: left; 
	background-repeat: no-repeat; 
	padding-left:18px; */
	color:#7fffd4; 
	background-color:teal;
	cursor:pointer;
	background-color: #006aaf;
	color: white;
	}
#searchSite input:before {
	content: "🔎";
	}

#breadcrumbs {
	font-size: 90%;
	margin-bottom: 10px;
	}
	

#toc ol {
	margin:0;	
	padding: 0;
	margin-left:2em;
	margin-right: 1em;
	margin-bottom: 15px;
	}
#toc li {
	list-style-type:none;
	margin-bottom: 5px;
	}
#toc ol ol {
	margin: 8px 0 8px 10px;
	font-size:80%;
	}
#toc ol ol li {
	margin-bottom: 3px;
	}


#aboutdoc p { 
	font-size: 90%;
	}

#siteicons {
	background-color: #006aaf;
	/*margin-right: 29%;
	border-bottom-right-radius: 49px; */
	box-shadow: -4px 4px 7px #888; 
	padding: 0; height: 49px;
	width: 100%;
	
	}
#siteicons a:hover {
	text-decoration: none;
	background-color: #003163;
	color: white;
	}
#i18n-name {
	font-size: 29px; 
	/*letter-spacing: -1px;*/
	/*font-family: Arial, Helvetica, sans-serif;*/
	text-align: right;
	color: #a5b9b9; 
	line-height: 49px;
	vertical-align: top;
	margin-left: 20px;
	color: white;
	}

#sitelinks {
	text-align: left;
	padding-top: 8px;
	margin-left: 7.5%;
	margin-right: 32%; 
	}
#sitelinks a { 
	padding-left: 0.75em;
	color: #006aaf;
	}
#sitelinks a:hover {
	color: #005a9c;
	text-decoration: none;
	}



#relatedLinkList { 
    font-size: 90%;
    }
#relatedLinkList p {
    margin: 0;
    }
#relatedLinkList li {
    list-style-position: inside;
    list-style-type: none;
    margin-bottom: .5em;
    }


/* ************** headings **************** */

h1 {
	color: #005a9c;
	background-color: white;
	/*padding: 5px;
	padding-left: 10px;*/
	margin: 1em 32% 0 7.5%;
	font-size: 48px; 
	font-weight: 300; 
	line-height: 50px; 
    font-family: RalewayWF, 'Helvetica Neue', Helvetica, Arial, "Segoe UI", sans-serif;
	}


h2 {
	/* text-align: left; */
	color: #005a9c;
	font-size: 150%;
	font-weight: 300;
	margin-top: 3em; 
	border-bottom: 1px solid #eee;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	}
#mainNavigation h2 {
	text-transform: none;
	text-align: center;
	}
h2 a:link {
	color: teal;
	text-decoration: none;
	color: #005a9c;
	font-weight: 300;
	}

h3 a:link {
	color: teal;
	text-decoration: none;
	color: #005a9c;
	font-weight: 300;
	}

h2 a:visited { 
	color: #005a9c;
	text-decoration: none;
	}

h3 {
	/* text-align: left; */
	font-size: 120%;
	font-weight: 300;
	margin-top: 2em;
	margin-bottom: 1em;
	}
section h3 a:link { 
	text-decoration: none;
	color: #005a9c;
	}
section h3 a:visited { 
	color: #191970; 
	color: #005a9c;
	}
h4 {
	font-weight: bold;
	}

h2 code, h3 code, h4 code {
	font-size: 88%;
	}

/*#nutshell {
	color: #000066;
	margin-top: 2em;
	margin-bottom: .25em;
	margin-left: 8%; 
	margin-right: 34%;
	padding: 5px 10px 5px 15px; 
	background-color:#ffe; 

	border: 1px solid #CCC; 
	box-shadow: 7px 7px 5px #888; 
	border-radius: 10px; 
	}*/
#nutshell {
    /*color: brown;
    font-weight: 400;
	margin-top: 2em;
	margin-bottom: .25em; */
	margin-left: 7.5%; 
	margin-right: 32%;
	/*padding: 1em 2em 0 2em; 
	border: 1px solid #CCC; 
	border-radius: 10px; 
    background-color: blanchedalmond;
    background-color: antiquewhite;*/
	}
#nutshell h2 {
	font-size: 36px;
	color: #900;
	margin-top: 10px;
	/*margin-left: 5%;*/
	margin-left: 0;
	margin-right: 20px;
	background-color: inherit;
	padding-left: 0;
	display: none;
	}
#nutshell h2 a:link {
	color: brown;
	}
.nutshellIntro {
	font-style: italic;
	color: #777;
	font-size: 90%;
	}
/*#nutshell p { 
	margin-left: 5%;
	margin-right: 10%;
	}*/
#nutshell p, #nutshell .example { 
	margin-left: 0;
	margin-right: 0;
	}
#nutshell .insideinfonote { 
	margin-right: 0;
	}



#furtherreading h2 {
	margin-bottom: 2em;
	}
.referencestitle {
	margin-left: 11%; 
	margin-right: 34%; 
	margin-top: 30px;
	font-weight: 700;
	}



/* *********** notes ************* */

.sidenoteGroup {
	position: relative;
	width: 100%;
	}
/* Note that .sidenote has to be absolute to get it to position alongside the top of the text it comments on, but have it read after.  The order is important for screen readers and for the printed version. The use of the sidegroupnote div allows you to specify the location where the note should be read. (cf. .insidenote) */
.sidenote {
	position: absolute;
	top: 0;	
	right: 2em;
	width: 24%;
	font-size: 80%;
	line-height: 1em;
	/* text-align: left; */
	}
.sideinfonote, .implnote {
position: absolute;
top: 1px;
right: 2em;
width: 24%;
font-size: 80%;
line-height: 1.2em;
border: 1px solid #CCC;
padding: 5px 10px 5px 15px;
border-radius: 10px;
	}
.sideinfonote {
	color: #000066;
	background-color:#f4f4fe; 
	}
.implnote {
	color: #666;
	background-color:#ffeadd; 
	background-color: white;
    border: 0;
	}

.info::before, .warning::before, .footnote::before, .impl::before { 
	float: left;
 	font-family: Old English, Georgia,serif;
 	font-size: 300%;
 	line-height: 1em;
 	margin-right: 0.3em;
 	margin-bottom:0; 
	font-weight: 700;
	}
.info::before { content: 'i'; }
.warning::before { content: '!'; }
.footnote::before { content: '*'; }
/* .impl::before { content: '🛠'; } */
.impl::before { 
	content: url(../icons/implementation.png); 
	content: '';
	}
.sideinfonote p {
	margin:0;
	margin-bottom: .5em; 
	}
.implnote p {
	margin:0;
	margin-bottom: .5em; 
	}

/* .insidenote is for use at the top of the document where the sidenote might conflict with the sidebar.  Note that, because it uses float rather than absolute, the note it encapsulates has to come *before* the text it is displayed alongside. This is less than ideal for voice browsers. */
.insidenote {
	float: right;
	margin-right: 2em;
	margin-left: 1.5em;
	margin-top: .5em;
	margin-bottom: 1em;
	width: 24%;
	font-size: 80%;
	line-height: 1em;
	/* text-align: left; */
	z-index:-500;
	}
.insidenote p {
	margin:0;
	margin-bottom: .5em; 
	}
.insideinfonote, .insideimplnote {
	float: right;
	margin-right: 2em;
	margin-left: 1.5em;
	margin-top: .5em;
	margin-bottom: 1em;
	width: 24%;
	font-size: 80%;
	z-index:-500;
	line-height: 1.2em;
	border: 1px solid #CCC; 
	padding: 5px 10px 5px 15px; 
	border-radius: 10px; 
	clear: none;
	}
.insideinfonote {
	color: #000066;
	background-color:#f4f4fe; 
	}
.insideimplnote {
	color: #666;
	background-color:#ffeadd;
	min-height: 40px; 
	background-color: white;
    border: 0;
	}
.insideinfonote p {
	margin:0;
	margin-bottom: .5em; 
	}
.insideimplnote p {
	margin:0;
	margin-bottom: .5em; 
	}


.sn {
    float: right;
    position: absolute;
    top: 1px;
    right: 2em;
    width: 24%;
    font-size: 80%;
    line-height: 1.2em;
    border: 1px solid #CCC;
    padding: 5px 10px 5px 15px;
    border-radius: 10px;
    color: #000066;
    background-color: #f4f4fe;
    }


.note {
	color: #000066;
	margin: .25em 35% .25em 10%;
	background-color:#eef; 
	background-color: #ffdccb;
	border: 1px solid #CCC; 
	padding: 5px 10px 5px 15px; 
	border-radius: 10px; 
	clear: both;
	}
.note b { font-size: 110%; font-weight: 700; padding-right: 10px; }

.strongnote {
	color: #000066;
	margin: .25em 35% .25em 10%;
	
	background-color:#eef; 
	border: 1px solid #CCC; 
	box-shadow: 7px 7px 5px #888; 
	padding: 5px 10px 5px 15px; 
	border-radius: 10px; 
	}
.strongnote b { font-size: 180%; text-transform: lowercase; font-weight: normal; padding-right: 10px; }
.note p, .strongnote p { margin-left: 0; margin-right: 0; }
.note ul, .strongnote ul { margin-left: 2em; margin-right: 0; }

.advancedusage {
	color: #666;
	margin: .25em 32% 2em 7.5%;
	
	background-color:#ffeadd; 
	border: 1px solid #CCC; 
	padding: 5px 10px 5px 15px; 
	border-radius: 10px; 
	}
.advancedusage strong { font-size: 120%; text-transform: lowercase; font-weight: normal; padding-right: 10px; }
.advancedusage p { margin-left: 0; margin-right: 0; }
.advancedusage figure { margin-left: 0; margin-right: 0; }



/* *********** address & small ************* */



address {
	font-style: normal;
	margin: 5em 30% 1em 7.5%;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	}
address p {
	margin: .5em 0;
	}
address p+p {
	margin-top: 1em;
	}

small {
	margin-left: 7.5%; 
	margin-right: 32%;
	margin-bottom: 1em;
	display:block;
	line-height: 1.4; 
	font-size: 80%; 
	}



/* ***********examples************* */


.example, .example-wide {
	/*color: #000066;*/
	margin-top: .25em;
	margin-bottom: .25em;
	/* text-align: left; */
	
	background-color:#ffe; 
	border: 1px solid #CCC; 
	padding: 5px 10px 5px 15px; 
	border-radius: 5px; 
	}
.example figcaption {
	font-style: italic;
	}
.example-head {
	font-style: italic;
	margin-bottom: 10px;
	}
.example .demolink { 
	font-size: 70%; 
	position: static; 
	text-align: right;
	margin: 0;
	}



/* **************figures**************** */

figcaption .demolink {
	display: block;
	font-size: 80%;
	text-align: center;
	}
.figWrap {
	margin-left: 7.5%;
	margin-right: 32%;
	}
.figWrap figure {
	text-align: center;
	margin-left: 0;
	margin-right: 0;
	margin: 0;
	}
.demolink { 
	font-size: 70%; 
	position: static; 
	text-align: left;
	margin-left: 1em;
	margin-bottom: 1em;
	}



/* **************inline elements**************** */

q	 { quotes: '"' '"' "'" "'"; }

:lang(no) q { quotes: "«" "»" '"' '"'; }
:lang(de) q { quotes: "\201E " "\201C " '\201A ' '\2018 '; }
:lang(sv) q { quotes: '\201d' '\201d' '\2019' '\2019'; }

.qchar { quotes: '\2018' '\2019'; }
:lang(de) .qchar { quotes: '\2018' '\2019'; }
:lang(sv) .qchar { quotes: '\2019' '\2019'; }
.qchar {
	font-size: 100%;
	color: black;
	font-family: "Times New Roman", Times, serif;
	}
.qchar:before {
	content: open-quote;
	font-style: normal;
	font-size: 100%;
	margin-right: 1px;
	}
.qchar:after {
	content: close-quote;
	font-style: normal;
	font-size: 100%;
	margin-left: 1px;
	}

.qterm {
	font-style: italic;
	}
.qterm	 { quotes: "'" "'"; } 
:lang(sv) .qterm { quotes: '\201d' '\201d' '\2019' '\2019'; }
:lang(de) .qterm { quotes: "\0027" "\0027"; }
.qterm:before {
	content: open-quote;
	font-style: normal;
	font-size: 100%;
	}
.qterm:after {
	content: close-quote;
	font-style: normal;
	font-size: 100%;
	margin-left: 2px;
	}
.uname {
	font-size: 85%;
	letter-spacing:0.05em;
	}

mark {
	background-color: #EEE;
	padding: 0 3px;
	border-radius: 3px;
	color: #000;
	font-weight:400;
    background-color: blanchedalmond;
    padding: 0 .3em;
    border-radius: 5px;
    color: brown;
    background-color: antiquewhite;
	}
strong {
    font-weight: 700;
	color: #444;
	}
.kw {
	color: #A52A2A;
	font-family: "Courier New", monospaced;
	font-size: 100%;
	}
code, samp {
	font-family: Monaco, "Andale Mono", Consolas, monospace;
	font-weight: normal;
	font-size: 13px;
	}
code.code1 {
	display: block;
	}
code.code2 {
	display: block;
	margin-left: 40px;
	}


/* ************** specials ********************* */

.dontuse { 
	vertical-align: middle;
	}

#alternates a {
	text-transform: none;
	}

a.dfn:link {
	color: inherit;
	text-decoration: none;
	border-bottom:1px dotted teal;
	}
a.dfn:hover {
	color:  #005a9c;
	background: white;
	text-decoration: none;
	border-bottom:1px dotted teal;
	}
a.dfn:visited {
	color: inherit;
	text-decoration: none;
	border-bottom:1px dotted teal;
	}
	

.acronym {
	text-transform: capitalize;
	}
.background-link {
	margin-bottom: 0;
	margin-top: 0;
	}
blockquote {
	/* text-align: left; */
	}
.box-header {
	font-weight: 700;
	}
.codelink {
	float: right;
	}
.codelinkl {
	float: left;
	}
div.code {
	display: block;
	overflow: auto;
	width: 100%;
	white-space: pre;
  	font-family: 'Andale Mono', Courier, monospace;
	font-size: 95%;
	line-height: 120%;
	}
dt {
	font-weight: 700;
	margin-top: 1em;
	}
.ed {
	color: red;
	}
fieldset {
	color: #a52a2a;
	}
#footer {
	margin-top: 5em;
	border-top-width: 1px;
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
	border-color: #333;
	border-style: solid;
	font-size: 90%;
	}
p.background-link + h2 {
	margin-top: 0;
	}
.leadin {
	font-weight: 500;
	}

.hide {
	}
img {
	border:0;
	}
#icon {
	float: right;
	width: 28%;
	clear: right;
	}
p.background-link { 
	color: teal;
	text-align: right;
	margin-top: 0;
	margin-bottom: 0;
	}
.sidenoteGroup > p {
	text-align:justify;
	}

#line {
	position: absolute;
	left: 72%;
	top: 0;
	width: 10px;
	border-left: 2px dotted #005a9c;
	height: 30em;
	display: none;
	}
#logos {
	float: right;
	margin: .25em 1em 0 1em;
	}
#navigation {
	line-height: 150%;
	background-color: transparent;
	color: #555;
	font-weight: 700;
	margin-top: 3em;
	margin-bottom: 1.5em;
	text-transform: lowercase;
	}
#navigation:lang(de) { text-transform: none; }
.newterm {
	font-weight: 700;
	}
#audience {
	line-height: normal;
	font-weight: 300; 
	color: gray;
	margin-top: 4em;
	margin-bottom: 2em;
	font-size: 90%;
	}
#audience .leadin {
	font-weight: 400;
	color: #555;
	text-transform: lowercase;
	}
#audience .leadin:lang(de) { text-transform: none; }
p#internal-links {
	line-height: normal;
	}
#disclaimer p {
	margin-left: 30px;
	margin-right: 20px; 
	}
#navigation p {
	margin-top: 0;
	margin-bottom: .25em;
	/* text-align: left; */
	font-size: 90%;
	}
p#pagelocation {
	display: none;
	}
img#picture {
	margin-left:20px;
	margin-top: .5em;
	margin-bottom: .5em;
	display: block;
	border: 0;
	display: none;
	}
pre {
	line-height: 1.3em;
	font-size: 15px;
	}
.question {
	font-weight: 700;
	color: #000;
	}
#references p {
	/* text-align: left; */
	}
.sidebar {
	float: right;
	width: 28%;
	clear: right;
	}
/* Note that stuff that goes in the sidebar will not be printed! If you want a note that will be printed, consider an insidenote or sidenote. */


span#scale {
	white-space: nowrap; 
	color: gray;
	}
span.searchkey {
	font-style: italic;
	}
span.surveyScale {
	white-space: nowrap; 
	color: gray;
	}
table, td, th {
	font-size: 1em;
	}
table td { 
	border: 1px solid #ccc; 
	vertical-align: top; 
	text-align: start; 
	border-collapse: collapse; 
	padding: 4px;
	font-family: "Arial Unicode MS", "Lucida Sans Unicode", sans-serif; 
	}
table th { 
	font-size: 80%; 
	text-align: start;
	padding: 4px;
	}
.uppercase {
	text-transform: uppercase;
	}
.uri {
	display: none;
	}
#wai-start  { 
	position:absolute; 
	left:-999px; 
	width:990px;
	display: block;	
	}
	






/***** survey form *****/

#survey {
	font-size: 90%;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #eee;
	width: 20%;
  	max-width: 250px;
	padding: 20px;
	color: #666;
	line-height: 1.4;
	position: absolute;
	right: 0;
	}
#survey p {
	margin-left: 10px; 
	margin-right: 10px; 
	}
#survey a.interaction { 
  font-size: 130%;
  color: #e70;
  }
#survey button.interaction {
  font-size: 130%;
  color: #e70;
  background-color: #ffffff; 
  border: 0; 
  margin: 0; 
  padding: 0;
  text-align: left; /* for IE */
  cursor: pointer;
  }
#survey label.interaction {
  font-size: 130%;
  color: #e70;
  border: 0; 
  margin: 0; 
  padding: 0;
  cursor: pointer;
  }
#survey form {
	margin: 0;
	padding: 0;
	border: 0;
	}
#survey p {
	margin: 0;
	padding-top: 9px;
	}





#print-author {
	font-size: 110%;
	color: #005a9c;
	margin-top: 4em;
	font-weight: 700;
	display: none;
	}
#print-uri {
	font-size: 100%;
	color: #005a9c;
	display: none;
	margin-bottom: 2em;
	}

#full-links p { 
	text-align: left; 
	margin-bottom: 0;
	}
#full-links ul {
	margin-top: 0;
	}
#full-links ul li {
	list-style-type: none;
	}



.outofdate {  background-color: yellow; border: 1px solid teal; padding: 8px;  border-radius: 5px; line-height: 1.5; }
.unlinked {  background-color: yellow; border: 1px solid teal; padding: 8px; color: #c30; font-size: 120%; border-radius: 5px; line-height: 1.5; }

.foreign { font-style: italic; }


/* quick check form in side bar */

.quickcheck input { border:1px solid #ccc; color:#999; width:100%; padding: 2px; border-radius: 5px; }
.quickcheck button[type=submit] {border:0;background-color:#eee; padding: 2px 5px 2px 5px; border-radius: 5px; }
.quickcheck .guide { font-size:75%; font-style:italic; }
.quickcheck p { margin-bottom: 5px; margin-top: 5px; color:#A52a2a; color:#666; }


	
dfn {
	font-weight:700;
	font-style: normal;
	}
a.termref { border-bottom: 1px dotted #C66; } 
cite {
	font-style: italic;
	}
	
.updated { text-align:right; font-size: 90%; margin-top: 0; margin-bottom:0; }

.badcode { font-size: 75%; color:#999; line-height: 1em; }
.badcode img { vertical-align: text-top }

.acknowledgements { font-size: 80%; color: gray; }


img.shadow {
	box-shadow: 7px 7px 5px #999; 
	}


/* ***** BIDI SHIM FOR DIR ****** */
[dir='ltr'], [dir='rtl'] { 
	unicode-bidi: -webkit-isolate;
	unicode-bidi: -moz-isolate;
	unicode-bidi: -ms-isolate;
	unicode-bidi: isolate;
	} 
bdo[dir='ltr'], bdo[dir='rtl'] {
	unicode-bidi: bidi-override; 
	unicode-bidi: -webkit-isolate-override; 
	unicode-bidi: -moz-isolate-override; 
	unicode-bidi: -ms-isolate-override; 
	unicode-bidi: isolate-override;
  	}
/* ***** END BIDI SHIM FOR DIR ****** */


#printLinks {
	display: none;
	}
	
	
@media print {

/* ***********  PRINTING ****************** */


#breadcrumbs {
	display: none;
	}
#audience {
	width: 72%;
	}
#aboutdoc {
	float: right;
	width: 24%;
	}
#aboutdoc p {
	margin-right: 1%;
	}

#nutshell { margin-left: 7.5%; margin-right: 10%; }
#quicksummary { margin-top:.5em; }


/* print the URI of links unless they appear in certain elements or
   have a class=dontprinturi */
#printLinks {
	display: block;
	}
a.print:after { 
	content: " [" attr(title) "] ";
	color: #888;
	font-size: 85%;
	}

#full-links a:after { 
	content: " (" attr(href) ") ";
	color: #888;
	font-size: 85%;
	} 

.kw {
    color: #666;
    font-family: "Courier New", monospaced;
    font-size: 100%;
}

a {
	text-decoration: none;
	color: #666;
	font-weight: 400;
	}
a:visited {
	font-weight: 400;
	color: #666;
	}



h2 { margin-top: 2em; }


body {
	font-size: 10pt;
    font-family: Helvetica, 'Helvetica Neue', Arial, "Segoe UI", sans-serif;
    line-height: 1.75;
	color: #666;
	font-weight: normal;
	margin: 0;
	padding: 0;
	background-color: white;
	}

#siteicons {
	background-color: #003163;
	margin-right: 29%;
	border-bottom-right-radius: 30px;
	box-shadow: none; 
	padding: 0; height: 49px;
	}

.sidebar {
	float: none;
	margin-left: 10%;
	margin-right: 12%;
	margin-bottom: 3em;
	width: 80%;
	line-height: 1.5;
	text-align: justify;
	background-color: #cccc99;
	background-color: white;
	color: #555;
	}
	
	
/*.sidenote:before {
	content: '◼ ';
	color: #005a9c;
	} */
.sidenote {
	position: static;
	font-size: 80%;
	line-height: 1;
	text-align: left;
	width: auto;
	margin-left: 11%; 
	margin-right: 12%; 
	margin-bottom: 10px;
	padding: 8px;
	padding-left: 16px;
	border: 1px solid #ccc;
	border-radius: 10px;
	}	
.insidenote {
	position: static;
	font-size: 80%;
	line-height: 1;
	text-align: left;
	width: auto;
	max-width: 50%;
	margin-left: 11%; 
	margin-right: 12%; 
	}	
.sidenote p, .insidenote p {
	margin-top: 0;
	margin-bottom: 4px;
	}
.sideinfonote {
	position: static;
	font-size: 80%;
	line-height: 1;
	text-align: left;
	width: auto;
	margin-left: 11%; 
	margin-right: 12%; 
	margin-bottom: 10px;
	padding: 8px;
	padding-left: 16px;
	border: 1px solid #ccc;
	border-radius: 10px;
	}	
.insideinfonote {
	position: static;
	font-size: 80%;
	line-height: 1;
	text-align: left;
	width: auto;
	max-width: 30%;
	margin-left: 11%; 
	margin-right: 12%; 
	}	
.sideinfonote p, .insideinfonote p {
	margin-top: 0;
	margin-bottom: 4px;
	}

aside {
	float: none;
	width: 100%;
	}

h1, h2  {
	background-color: white;
    color: #666;
	}
h2 {
	padding-left: 0;
	/*page-break-before: always;*/
	page-break-after: avoid;
	padding-top: 3em;
	/*text-transform:none; */
	border-bottom: 1px solid #eee;
    font-weight: normal;
	}
h2#quicksummary {
	padding-top: 10px;
	}
h3 {
	padding-top: 1em;
	page-break-after: avoid;
	border-bottom: 0;
    font-weight: normal;
	}
h4 {
	page-break-after: avoid;
	margin-right: 0;
    font-weight: normal;
	}
div.h4  {
	 margin-left: 7.5%; margin-right: 10%;
	}

h2 a:link {
	color: #666;
	text-decoration: none;
	font-weight: 300;
	}
h2 a:visited { 
	color: #666;
	text-decoration: none;
	}
section h3 a:link { 
	text-decoration: none;
	color: #666;
	}
section h3 a:visited { 
	color: #666;
	}



figure {
	page-break-inside: avoid;
	clear:both;
	}
#line {
	border: 0;
	}
.noprint {
	display: none;
	}
code {
	font-size: 100%;
	}
#survey {
	display: none;
	}
.uri {
	display: inline;
	font-style: italic;
	}
#full-links p { 
	text-align: left; 
	}
p#pagelocation {
	display: block;
	font-weight: bold;
	}
#site-navigation {
	display: none;
	}
#navigation { 
	display: none;
	}
p, h2, h3, dl, div#footer { margin-left: 7.5%; margin-right: 10%; }
li p { margin-left: 0; margin-right: 0; }
ul, ol, blockquote { margin-left: 11%; margin-right: 12%; }
table { margin-left: 7.5%;  }
.example { margin-left: 7.5%; margin-right: 10%; }

/* a:after { 
	content: "[" attr(href) "]";
	}
*/
#print-author, #print-uri { display:block; }


}   /* END OF @media print */


ins { background-color: #FF9; }
del { color: #CCC; text-decoration: line-through; }
