/* High level style sheet for i18n respec docs */

/* COLOR */
:root {
	--code-color: #A52A2A;
	}

/* DARK MODE */
@media (prefers-color-scheme: dark) {
	:root {
		--code-color: rgb(215 99 99);
		}
	}


/* HEADINGS */
h2 {
	margin-top: 3em;
	margin-bottom: 0em;
	}
.head h2, #abstract h2, #sotd h2 {
	margin-top: 0;
	}
h3 {
	margin-top: 3em;
	}
h4  { 
	font-size: 100%; 
    font-weight: normal; 
    color: #005a9c; 
    margin-top: 2em;  
    }
.leadin {
	font-weight: bold;
	}



/* CHANGE MARKUP */
ins { 
	background-color: #99FF99; 
	text-decoration: none; 
	}
del { 
	display: inline; 
	color: silver; 
	}



/* FIGURES */
figure { 
	margin-bottom: 2em; 
	text-align: center;
	}
figcaption {
	 text-align: center;
	margin: 0.5em 2em;
	font-style: italic;
	font-size: 90%;
	}
.figno:after {
	content: ':\00A0  ';
}




/* LINKS */
a.termref:link {
	color:#C60;
	text-decoration:none;
	border-bottom: 1px dotted #FC0; 
	}
a.termref:hover {
	color:#C60;
	text-decoration:none;
	border-bottom: 1px dotted #FC0; 
	}
a.termref:visited {
	color:#C60;
	text-decoration:none;
	border-bottom: 1px dotted #FC0; 
	}
a.termref:active {
	color:#C60;
	text-decoration:none;
	border-bottom: 1px dotted #FC0; 
	}




/* INLINE MARKUP */
.qterm:before, .qchar:before { content: "'"; }
.qterm:after, .qchar:after { content: "'"; }
.quote:before { content: '"'; }
.quote:after { content: '"'; }
code { 
	color: var(--code-color);
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace; 
    font-size: 100%; 
    }
samp, kbd { 
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace; 
    font-size: 100%; 
    }






/* TRANSCRIPTIONS */
.ipa { 
	font-family: ExtendedLatinWF, doulosipa,"Gentium Plus", "Lucida Sans Unicode", "Lucida Grande", 'lucida sans', "helvetica", sans-serif; 
	font-size: 110%;
	font-feature-settings: "ss05" 1;
	}
.ipa:before { 
	content: '⌈'; 
	font-family: ExtendedLatinWF, "Gentium Plus", Gentium, "Lucida Sans Unicode", "Lucida Grande", 'lucida sans', "helvetica neue", sans-serif; 
	margin-right: 1.5px; 
	margin-left: 0.2em; 
	color: #aaa; 
	}
.ipa:after { 
	content: '⌋'; 
	font-family: ExtendedLatinWF, "Gentium Plus", Gentium, "Lucida Sans Unicode", "Lucida Grande", 'lucida sans', "helvetica neue", sans-serif; 
	margin-right: 0.2em; 
	margin-left: 1.5px;  
	color: #aaa; 
	}

.transc { 
	font-family: ExtendedLatinWF, "Gentium Plus", Gentium, "Lucida Sans Unicode", "Lucida Grande", 'lucida sans', "helvetica neue", sans-serif; 
	font-size: 1.1em;
	font-style: italic;
	font-weight: 300;
	font-feature-settings: "ss05" 1;
	}
.transc:before { 
	content: '<'; 
	font-family: ExtendedLatinWF; 
	margin-right: 1.5px; 
	margin-left: 0.2em; 
	color: #aaa;
    font-style: italic;
	}
.transc:after { 
	content: '>'; 
	font-family: ExtendedLatinWF; 
	margin-right: 0.2em; 
	margin-left: 1.5px;  
	color: #aaa;
    font-style: italic;
	}

.meaning { letter-spacing: 0.02em; }
.meaning:before { content: '‘';  }
.meaning:after { content: '’';   }

.name { 
	font-style: italic;
	font-feature-settings: "ss05" 1;
	}
.uname {
	text-transform: uppercase;
	font-size: 85%;
	letter-spacing:0.03em;
	}
.prompt {
    font-style: italic;
    color: #aaa;
    font-size: 90%;
    margin-bottom: 4em;
	}





/* LREQ DOC STYLES */

.prompts { font-style: italic; color: #999; font-size: 90%; }


dl.reslinks {
    border-block-end: 1px solid #ccc;
    margin-block-end: 3em;
	}
.reslinks dt {
    font-size: 80%;
    }
.reslinks dd {
    font-size: 90%;
    }
.reslinks a[href] {
    color: darkorange;
    }
.reslinks a[href]:visited {
    color: darkorange;
    }

.variable.empty[href], .variable.empty[href]:visited {
    color: gray;
    font-style: italic;
    text-decoration: none;
    }


#linkWarning {
    margin-inline: 2.5%;
    background-color: antiquewhite;
    border-radius: 1em;
    font-size: 90%;
    padding: 1em;
    z-index: 2000;
    }
#closeLinkWarning {
    float:right;
    font-size:120%;
    margin-inline:1em;
    cursor:pointer;
    color: #999;
    }







