@font-face {
    font-family: 'RalewayWF';
    src: url('fonts/raleway-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    }
@font-face {
    font-family: 'RalewayWF';
    src: url('fonts/raleway-bold-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    }
@font-face {
    font-family: 'RalewayWF';
    src: url('fonts/raleway-italic-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    }

table, tbody, thead, tfoot, tr, td, th, ul {
  /* Repeat font size for broken browsers that don't inherit into tables.
     This rule is wrong,obviously, since it may change the cascading
     order, but as long as other style rules are imported *after*
     this one, it should not cause problems. */
    font-family: 'RalewayWF', 'Helvetica Neue', Roboto, "Calibri", "Segoe UI", sans-serif;
    font-weight: normal;
}


#sidebarExtras {
	display: none;
	}

#siteTitle {
	font-family: Arial, helvetica, sans-serif;
	font-weight: normal;
	font-size: 170%;
	color: #005a9c;
	background-color: #fff;
	margin-top: 0em;
	margin-bottom: 0em;
	padding: 0.1em;
	border: none;
	border-top: 3px solid #005a9c;
	line-height: 1.75;
	}


a:link {
	color: teal;
	color: #697fb1;
	text-decoration: none;
	background: transparent;
	font-weight: 400;
	}
a:visited {
	/* color: #3ea7a7; */
	color: teal;
	color: #697fb1;
	text-decoration: none;
	background: transparent;
	font-weight: 400;
	}
/* td.directory :visited {
	color: #005a9c;
	text-decoration: none;
	background: transparent;
	} */
a:active {
	color: #900;
	text-decoration: none;
	background: #ffc;
	}
/* td.directory :active {
	color: #900;
	text-decoration: none;
	background: #ffc;
	} */



.blogtitle a {
	color: #697fb1;
	}
#stoppress a { 
	font-style: italic; 
	}
.toc2 a { 
	color: #005a9c;
	}
.archive-link {
	text-align: right;
	margin-bottom: 3px;
	}
.blogtitle {
	font-size: 200%;
	text-decoration: none;
	}
body {
	margin: 0.5em; 
	padding: 1em;
    font-family: RalewayWF, 'Helvetica Neue', Roboto, Calibri, "Segoe UI", sans-serif;
    font-size: 95%;
    font-weight: normal;
    line-height: 1.6em;
	color: #444;
	background-color: white;
	}
#mainLayout { margin: 0 30% 0 7.5%; }

#stoppress 
.date {
	color: #B8860B;
	font-weight: normal;
	}
#description { 
	}
.description {
	margin-top: 0em;
	margin-bottom: 1em;
	}
div.content {
	width: 70%;
	float: left;
	padding-left: 3%;
	}
div.directory {
	/* float: right; */
	width: 22%;
	margin-top: 1em;
	position: fixed;
	right: 10px;
	}
    .resource 
div { 
	margin-top: 0; 
	line-height: 1.2em; 
	}
    .description 
div { 
	margin-top: .35em; 
	margin-bottom: .1em; 
	line-height: 1.2em; 
	}
fieldset {
	border: 0;
	}
    #search 
form {
	margin: 0;
	margin-bottom: 2px;
	}
h1 {
	font-family: Arial, helvetica, sans-serif;
	font-weight: normal;
	font-size: 170%;
	color: #005a9c;
	background-color: #fff;
	margin-top: 2em;
	margin-bottom: 1em;
	padding: 0.1em;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 2em;
	padding-bottom: 0.5em;
	border: none;
	/* border-top: 3px solid #005a9c; */
	font-family: "Helvetica Neue",Roboto,"Calibri","Segoe UI",sans-serif;
	font-weight: 300;
	font-size: 40px;
	line-height: 50px;
	margin-top: 0;
	padding-top: 1em;
    margin-inline-end: 32%;
	}
h2 {
	font-family: Arial, helvetica, sans-serif;
	font-size: 140%;
	font-weight: normal;
	color: white;
	border: none;
	margin-top: 2em;
	padding: 0.1em 0.4em;
	background-color: #697fb1;
	border-radius: 10px;
	}
.directory h2 {
	margin-top: 1em;
	background-color: #eeb058;
	background-color: chocolate;
	}
h2 a:link {
	color: white;
	text-decoration: none;
	}
h2 a:visited {
	color: white;
	text-decoration: none;
	}
h2 a:active {
	color: white;
	text-decoration: none;
	}
h3 { 
	font-family: Arial, helvetica, sans-serif;
	font-weight: bold; 
	color: #000066;
	border-bottom: 1px solid gray; 
	margin-bottom: 0;
	margin-top: 2em;
	}
    .resource 
h3 {
	font-family: Arial, helvetica, sans-serif;
	margin-left: 0;
	margin-right: 0;
	}
    #search 
img {
	vertical-align: bottom;
	}
img {
	border: 0;
	}
   div.directory
li { 
	list-style-type: none;
	padding: 0;
	margin: 0;
	margin-bottom: 0.5em;
	}
   div.directory
ul { 
	padding: 0;
	margin: 0;
	}
.main {
	padding: 10px;
	padding-top: 0;
	width: 56%;
	}
#mainLayout { 
	margin-top: 1em; 
	}
#oldNews {
	font-size: 90%; 
	border-top: 1px solid black;
	}
    td.directory  
p {
	padding: 0px 15px ;
	}
    div.archs 
p {
	margin-top: 0;
	margin-bottom: 0;
	}
    div.cats 
p {
	margin-top: 0;
	margin-bottom: 0;
	}
    .pubdata 
p {
	margin-top: 0;
	margin-bottom: 0;
	}
    .resource 
p { 
	margin-top: 0; 
	line-height: 1.2em; 
	margin-left: 0;
	margin-right: 0;
	}
    #stoppress 
p {
	margin-top: 4px;
	margin-bottom: 4px;
	}
.pubdata { 
	/* float: right; */
	padding-left: 2em; 
	color: #cc6600; 
	text-align: right; 
	line-height: 1.2em; 
	margin-bottom: .25em;
	/* width: 200px; */
	}
#search {
	float: right; 
	margin:2px; 
	text-align: right;
	font-size: 90%;
	width: 22%;
	}
.searchkey {
	/* color:#B8860B;  */
	font-size: 85%;
	font-family: Arial, Helvetica, sans-serif;
	}
#sitelinks {
	margin-top: 0.5em;
	}
.slogan {
	color: #000066;
	font-style: italic;
	font-family: serif;
	margin-top: 0em;
	font-size: 110%;
	}
.smallLabel {
	font-size: 85%;
	}
.smallprint { 
	font-size: 80%;
	text-align: center;
	}
td { 
	margin: 0em;
	padding-top: 0em;
	padding-left: 0em;
	}
.directory {
	background-color: #fecb81;
	background-color: white;
	padding: 0em;
	width: 22%;
	}
#toc {
	background-color: #eeb058;
	background-color: #fecb81;
	padding-bottom: 1em;
	}
#topLeft {
	background-color: #005a9c;
	background-color: white;
	}
.toc1 { 
	margin-left: 1em; 
	margin-right: 1em; 
	margin-top: 1em; 
	color: #005a9c; 
	font-weight: bold;
	}
.toc2 { 
	margin-left: 2.5em; 
	margin-right: 1em; 
	margin-top: .5em;
	}
#level2toc { margin: 0; }
#level2toc ol {
	margin:0;	
	padding: 0;
	margin-left:0;
	margin-right: 1em;
	margin-bottom: 15px;
	}
#level2toc li {
	list-style-type:none;
	margin-bottom: 10px;
	}
#level2toc ol ol {
	margin: 8px 0 8px 10px;
	font-size:90%;
	}
#level2toc ol ol li {
	margin-bottom: 3px;
	}
#level2toc .toc1 { 
	margin: 0 0 5px  0;
	color: #005a9c; 
	font-weight: normal;
	}
#level2toc .toc2 { 
	margin: 0 0 5px  0;
	color: #005a9c; 
	font-weight: normal;
	}


    td.directory 
.topOfColumn { 
	margin-top: 0;
	}
    div.directory 
.topOfColumn { 
	margin-top: 0;
	}
.topRight {
	background-color: #fff; 
	color: #666; 
	font-weight: normal;
	padding: 1px; 
	}

code { font-size: 1em; font-family: "Courier New", Courier, monospace; }
pre { font-size: 1em; font-family: "Courier New", Courier, monospace; }


.newstuff {
	background-color: yellow; 
	color: red; 
	padding: 0 8px 0 8px;
	border: 0; 
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	-o-box-shadow: 4px 4px 5px #888;
	-icab-box-shadow: 4px 4px 5px #888;
	-khtml-box-shadow: 4px 4px 5px #888;
	-moz-box-shadow: 4px 4px 5px #ccc;
	-webkit-box-shadow: 4px 4px 5px #ccc;
	box-shadow: 4px 4px 5px #888; 
	}

#disclaimer {
	color: #C60;
	}

#searchField {
	border: 1px solid #999;
	width: 94%;
	height: 2em;
	padding: 0 .6em;
	border-radius: 10px;
	}

.dynamicupdate { font-size: 80%; }

#site-navigation a {
    white-space: nowrap;
    }

#site-navigation #disclaimer a {
    white-space: normal;
    }


/* ***** BIDI SHIM FOR DIR ****** */
[dir='ltr'], [dir='rtl'] { 
	unicode-bidi: -webkit-isolate;
	unicode-bidi: -moz-isolate;
	unicode-bidi: -ms-isolate;
	unicode-bidi: isolate;
	} 
bdo[dir='ltr'], bdo[dir='rtl'] {
	unicode-bidi: bidi-override; 
	unicode-bidi: -webkit-isolate-override; 
	unicode-bidi: -moz-isolate-override; 
	unicode-bidi: -ms-isolate-override; 
	unicode-bidi: isolate-override;
  	}
/* ***** END BIDI SHIM FOR DIR ****** */

#referencesList {
	display: none;
	}

.highlightLink { font-size: 140%; color: chocolate; white-space: nowrap; }
.highlightLink::before {
    content: '\00A0' url(../icons/goto.png) ' ';
	}
.highlightLink:link, .highlightLink:visited, .highlightLink:active {
	color: chocolate;
	} 










@media print {

/* ***********  PRINTING ****************** */


/* print the URI of links unless they appear in certain elements or
   have a class=dontprinturi */
#printLinks {
	display: block;
	}
a.print:after { 
	content: " [" attr(title) "] ";
	color: #888;
	font-size: 85%;
	}

#full-links a:after { 
	content: " (" attr(href) ") ";
	color: #888;
	font-size: 85%;
	} 

#referencesList {
	display: block;
	}



h2 { margin-top: 2em; }


body {
	font-size: 10pt;
	}

.directory {
	font-size: 0.8em;
	}

#siteicons {
	background-color: #003163;
	margin-right: 29%;
	border-bottom-right-radius: 30px;
	box-shadow: none; 
	padding: 0; height: 49px;
	}

.sidebar {
	float: none;
	margin-left: 10%;
	margin-right: 12%;
	margin-bottom: 3em;
	width: 80%;
	line-height: 1.5;
	text-align: justify;
	background-color: #cccc99;
	background-color: white;
	color: #555;
	}
	
	
/*.sidenote:before {
	content: '◼ ';
	color: #005a9c;
	} */
aside {
	float: none;
	width: 100%;
	}

h1, h2  {
	background-color: white;
	}
h2 {
	padding-left: 0;
	page-break-after: avoid;
	padding-top: 3em;
	text-transform:none; 
	border-bottom: 1px solid #eee;
	}
h2#quicksummary {
	padding-top: 10px;
	}
h3 {
	padding-top: 1em;
	page-break-after: avoid;
	border-bottom: 0;
	}
h4 {
	page-break-after: avoid;
	margin-right: 0;
	}
div.h4  {
	 margin-left: 7.5%; margin-right: 10%;
	}

figure {
	page-break-inside: avoid;
	clear:both;
	}
#line {
	border: 0;
	}
.noprint {
	display: none;
	}
code {
	font-size: 100%;
	}
.uri {
	display: inline;
	font-style: italic;
	}
#full-links p { 
	text-align: left; 
	}
p#pagelocation {
	display: block;
	font-weight: bold;
	}
#navigation { 
	display: none;
	}
p, h2, h3, dl, div#footer { margin-left: 7.5%; margin-right: 10%; }
li p { margin-left: 0; margin-right: 0; }
ul, ol, blockquote { margin-left: 11%; margin-right: 12%; }
table { margin-left: 7.5%;  }
.example { margin-left: 7.5%; margin-right: 10%; }

/* a:after { 
	content: "[" attr(href) "]";
	}
*/
#print-author, #print-uri { display:block; }


}   /* END OF @media print */



.eyecatcher { font-size: 140%; color: #E8941D; font-weight: 400; }


h2, h3, h4, h5, h6 { position: relative; }
.selflink { display: none; }
h2:hover > a.selflink::before, h3:hover > a.selflink::before, h4:hover > a.selflink::before, h5:hover > a.selflink::before, h6:hover > a.selflink::before {
    content: "§";
    display: block;
    }
h2 > a.selflink, h3 > a.selflink, h4 > a.selflink, h5 > a.selflink, h6 > a.selflink {
    color: inherit;
    font-size: 83%;
    text-align: center;
    background-color: transparent;
    }
h2:hover > a.selflink, h3 > a.selflink, h4 > a.selflink, h5 > a.selflink, h6 > a.selflink {
    border: none;
    color: inherit;
    font-size: 83%;
    height: 2em;
    left: -1em;
    opacity: .5;
    position: absolute;
    text-align: start;
    text-decoration: none;
    top: 0;
    transition: opacity .2s;
    width: 2em;
    display: block;
    color: #000066;
    visibility: bottom;
    }
	