.annotatedCode {
	display: flex;
	flex-flow: row nowrap;
	}
.acFigure {
	margin: 0 0 0 7.5%;
	width: 60.5%;
	}
.acNote {
	margin: 0 2% 0 3%;
	width: 25%;
	}
.annotatedCode figure {
	margin: 0;
	}
.annotatedCode aside {
	margin: 0;
	float: none;
	width: 100%; 
	}
.simpleimplnote {
	color: #666;
	background-color: #ffeadd;
	font-size: 80%;
	line-height: 1.2em;
	border: 1px solid #CCC;
	padding: 5px 10px 5px 15px;
	border-radius: 10px;
	}
.simpleimplnote p {
    margin: .5em 0;
	}
.impl::before {
    float: right;
    font-family: Old English, Georgia,serif;
    font-size: 300%;
    line-height: 1em;
    margin-left: 0.3em;
    margin-bottom: 0;
    font-weight: 700;
	}
