.articles { list-style-type: none; }
.articles li { margin-bottom: 5px; }
#disclaimer { display: none; }
strong { font-weight: 500; }
a.native:link { font-weight: bold; font-size: 110%; }
/*a.untranslated:link { font-style: italic;}*/
a.untranslated:after { content: ' [en]'; font-size: 80%;}
