@font-face {
    font-family: 'Noto Sans Mongolian WF';
    src: 	url('https://www.w3.org/International/webfonts/notosansmongolian-regular-webfont.woff2') format('woff2'),
         	url('https://www.w3.org/International/webfonts/notosansmongolian-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}

@counter-style circled-decimal {
	system: fixed 0;
	symbols: '⓪' '①' '②' '③' '④' '⑤' '⑥' '⑦' '⑧' '⑨' '⑩' '⑪' '⑫' '⑬' '⑭' '⑮' '⑯' '⑰' '⑱' '⑲' '⑳' '㉑' '㉒' '㉓' '㉔' '㉕' '㉖' '㉗' '㉘' '㉙' '㉚' '㉛' '㉜' '㉝' '㉞' '㉟' '㊱' '㊲' '㊳' '㊴' '㊵' '㊶' '㊷' '㊸' '㊹' '㊺' '㊻' '㊼' '㊽' '㊾' '㊿';
	suffix: ' ';
	} 

:lang(mn) {
	font-family: "Noto Sans Mongolian", "Noto Sans Mongolian WF", "Mongolian Baiti", "Mongolian White", sans-serif;
	}

/*
.annotatedCode {
	display: flex;
	flex-flow: row nowrap;
	}
.acFigure {
	margin: 0 0 0 7.5%;
	width: 60.5%;
	}
.acNote {
	margin: 0 2% 0 3%;
	width: 25%;
	}
.annotatedCode figure {
	margin: 0;
	}
.annotatedCode aside {
	margin: 0;
	float: none;
	width: 100%; 
	}
.simpleimplnote {
	color: #666;
	background-color: #ffeadd;
	font-size: 80%;
	line-height: 1.2em;
	border: 1px solid #CCC;
	padding: 5px 10px 5px 15px;
	border-radius: 10px;
	}
.simpleimplnote p {
    margin: .5em 0;
	}
	
.impl::before {
    float: right;
    font-family: Old English, Georgia,serif;
    font-size: 300%;
    line-height: 1em;
    margin-left: 0.3em;
    margin-bottom: 0;
    font-weight: 700;
	}

.flexNoteBox {
	display: flex;
	vertical-align: top;
	}
.flexMain {
	width: 60.5%;
	margin-left: 7.5%;
	}
.flexMain p {
	margin: 0;
	}
.flexNote {
    float: none;
    width: 25%;
    line-height: 1.2em;
    border: 1px solid #CCC;
    padding: 5px 10px 5px 15px;
    border-radius: 10px;
    margin-left: 3%;
	}
.flexNote p {
	margin:0;
	font-size: 80%;
	}
.flexNote aside {
	margin: 0;
	float: 0;
	}
*/

.annotatedCode {
	display: flex;
	flex-flow: row nowrap;
	}
.acFigure {
	margin: 0 0 0 7.5%;
	width: 60.5%;
	}
.acNote {
	margin: 0 2% 0 3%;
	width: 25%;
	}
.annotatedCode figure {
	margin: 0;
	}
.annotatedCode aside {
	margin: 0;
	float: none;
	width: 100%; 
	}
.simpleimplnote {
	color: #666;
	/*background-color: #ffeadd;*/
	font-size: 80%;
	line-height: 1.2em;
	/*border: 1px solid #CCC;*/
	padding: 5px 10px 5px 15px;
	border-radius: 10px;
	}
.simpleimplnote p {
    margin: .5em 0;
	}
/*.impl::before {
    float: right;
    font-family: Old English, Georgia,serif;
    font-size: 300%;
    line-height: 1em;
    margin-left: 0.3em;
    margin-bottom: 0;
    font-weight: 700;
	}
	*/
.acFigure p {
	margin-left: 0;
	margin-right: 0;
	}
.implnote {
	background-color: white;
	border: 0;
	}
.impl::before {
    content: '';
	}





.flexAnnotation {
	display: flex;
	flex-flow: row nowrap;
	}
.faMain {
	margin: 0 0 0 7.5%;
	width: 60.5%;
	}
.faNote {
	margin: 0 2% 0 3%;
	width: 25%;
	}
.flexAnnotation figure {
	margin: 0;
	}
.flexAnnotation aside {
	margin: 0;
	float: none;
	width: 100%; 
	}
.simpleimplnote {
	color: #666;
	/*background-color: #ffeadd;*/
	font-size: 80%;
	line-height: 1.2em;
	/*border: 1px solid #CCC;*/
	padding: 5px 10px 5px 15px;
	border-radius: 10px;
	}
.simpleimplnote p {
    margin: .5em 0;
	}
/*.impl::before {
    float: right;
    font-family: Old English, Georgia,serif;
    font-size: 300%;
    line-height: 1em;
    margin-left: 0.3em;
    margin-bottom: 0;
    font-weight: 700;
	}
	*/
.faMain p {
	margin-left: 0;
	margin-right: 0;
	}
.implnote {
	background-color: white;
	border: 0;
	}
.impl::before {
    content: '';
	}
figcaption .demolink {
	display: block;
	font-size: 80%;
	text-align: center;
	}
.faMain .example {
	text-align: left;
	}
.faMain figure {
	text-align: center;
	}

.figWrap {
	margin-left: 7.5%;
	margin-right: 32%;
	}
.figWrap figure {
	text-align: center;
	margin-left: 0;
	margin-right: 0;
	margin: 0;
	}
.demolink { 
	font-size: 70%; 
	position: static; 
	text-align: left;
	margin-left: 1em;
	margin-bottom: 1em;
	}
.example .demolink { 
	font-size: 70%; 
	position: static; 
	text-align: right;
	margin: 0;
	}


#out_basic .browser_output_example { writing-mode: vertical-rl;	height: 16rem; font-family: 'Hiragino Kaku Gothic Pro', 'MS Gothic', sans-serif; font-size: 140%; }

#out_mongolian .browser_output_example { writing-mode: vertical-lr;	height: 16rem; font-family: 'Hiragino Kaku Gothic Pro', 'MS Gothic', sans-serif; font-size: 140%; }

#out_embedded_arabic .browser_output_example { writing-mode: vertical-rl;	height: 20rem; font-family: 'Hiragino Kaku Gothic Pro', 'MS Gothic', sans-serif; font-size: 140%; }

#out_sideways_rl  .browser_output_example { writing-mode: sideways-rl;	height: 11rem; font-size: 140%; }

#out_sideways_lr  .browser_output_example { writing-mode: sideways-lr;	height: 11rem; font-size: 140%; }

#out_upright .browser_output_example { writing-mode: vertical-rl;	height: 18rem; font-family: 'Hiragino Kaku Gothic Pro', 'MS Gothic', sans-serif; font-size: 140%; }
.upright { text-orientation: upright; }

#out_fullwidth_transform .browser_output_example { writing-mode: vertical-rl;	height: 16rem; font-family: 'Hiragino Kaku Gothic Pro', 'MS Gothic', sans-serif; font-size: 140%; }

#out_fullwidth .browser_output_example { writing-mode: vertical-rl;	height: 16rem; font-family: 'Hiragino Kaku Gothic Pro', 'MS Gothic', sans-serif; font-size: 140%; }

#out_orientation_sideways  .browser_output_example { height: 12rem; font-family: 'Hiragino Kaku Gothic Pro', 'MS Gothic', sans-serif; font-size: 140%; }
#out_orientation_sideways  #orientation_sideways_to { writing-mode: vertical-lr; text-orientation: sideways; }
#out_orientation_sideways  #orientation_sideways_wm { writing-mode: sideways-lr; }

#out_tcy_digits .browser_output_example { writing-mode: vertical-rl;	height: 16rem; font-family: 'Hiragino Kaku Gothic Pro', 'MS Gothic', sans-serif; font-size: 140%; text-combine-upright: digits 2; }

#out_combine_upright .browser_output_example { writing-mode: vertical-rl; height: 16rem; font-family: 'Hiragino Kaku Gothic Pro', 'MS Gothic', sans-serif; font-size: 140%; }
#out_combine_upright .browser_output_example .tcy { text-combine-upright: all; }

#out_form_controls .browser_output_example { writing-mode: vertical-rl;	height: 16rem; font-family: 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', 'PingFang SC', 'Noto Sans SC', 'Noto Sans CJK SC', 'Heiti SC', 'DengXian', 'Microsoft YaHei', sans-serif; font-size: 140%; }
#out_form_controls textarea { width: 8rem; height: 8rem; vertical-align:top; }
#out_form_controls p { margin-right: 4rem; }

#out_lists .browser_output_example { writing-mode: vertical-rl;	height: 15rem; font-family: 'Hiragino Kaku Gothic Pro', 'MS Gothic', sans-serif; font-size: 130%; }
#out_lists ol { margin-inline: 0; padding-inline: 0; }

#out_lists_rotate .browser_output_example { writing-mode: vertical-rl;	height: 15rem; font-family: 'Hiragino Kaku Gothic Pro', 'MS Gothic', sans-serif; font-size: 130%; }
#out_lists_rotate ol { margin-inline: 0; padding-inline: 0; }
#out_lists_rotate li::marker { text-combine-upright: all; }

#out_lists_cs .browser_output_example { writing-mode: vertical-rl;	height: 16rem; font-family: 'Hiragino Kaku Gothic Pro', 'MS Gothic', sans-serif; font-size: 140%; }
#out_lists_cs ol { margin-inline: 0; padding-inline: 0; }
#out_lists_cs li { list-style-type: circled-decimal; }


#out_tables .browser_output_example { writing-mode: vertical-rl; height: 16rem; font-family: sans-serif; font-size: 120%; width:auto; }
#out_tables caption { caption-side: bottom; }
#out_tables span { color:red; }

#out_logical .browser_output_example [lang=ja] { writing-mode: vertical-rl;	height: 16rem; font-family: 'Hiragino Kaku Gothic Pro', 'MS Gothic', sans-serif; font-size: 100%; }
#out_logical .browser_output_example div { text-align: end; float: left; border: 1px solid #eee; padding: 1em; height: 300px; width: 8em; margin-bottom: 3em; }



.browser_output {
    font-size: 1.15rem;
    border: 1px solid #ccc;
    padding: 1rem;
    line-height: 1.4;
    margin-inline-start: 7.5%;
    margin-inline-end: 32%;
    }
.browser_output p {
    margin: 0;
    }
.browser_output_title {
    font-size: .8rem;
    font-weight: bold;
    }
.browser_output p:first-of-type {
	margin-block-end: .5rem;
	}
.browser_output_example {
    display:flex;
    flex-direction:row;
    width:100%;
    justify-content:space-around;
    }
pre.language-css, pre.language-html {
    margin-inline-start: 0 !important;
    margin-inline-end: 0;
    }







