

#bodycontent a {
    font-size: 120%;
    margin-right: 1em;
    }
#bodycontent li {
    margin-bottom: 1em;
    }
.eyecatcher {
    font-size: 140%;
    color: #E8941D;
    font-weight: 400;
    }

