@charset "utf-8";


figcaption {
	text-align: center;
	margin: 0.5em 2em;
	font-style: italic;
	font-size: 90%;
	}
figure { 
	margin-bottom: 2em; 
	text-align: center;
	}
.figno:after {
	content: ':\00A0  ';
}

.bp { /*background-color:#ffffcc; border: 1px solid #ccc;*/ 
	background-color: #feb; 
    position: relative;
    padding: 0.5em;
    border: 0.5em;
    border-left: 6pt solid green;
    border-right: 6pt solid green;
    margin: 1em auto; 
}
.bp a {
	font-style: italic;
}
.bp a.local { 
	display:none;
}

.advisement a {
	font-style: italic;
	}
.advisement a.local { 
	display:none;
	}
	
.gap {
    position: relative;
    background-color: #efefef;
    padding: 0.5em;
    border: 0.5em;
    border-left: 6pt solid red;
    border-right: 6pt solid red;
    margin: 1em auto;
}

.gap::before {
    content: "\2757 \fe0f \a0";
    font-style: normal;
    color: #63F;
}

body {
	counter-reset: advisement;                  		 /* Set the section counter to 0 */
	/*counter-reset: bp;                  		  Set the section counter to 0 */
	}
a.self {
    position: absolute;
    top: -20px;
    border: medium none;
    transition: opacity 0.2s ease 0s;
    opacity: 0.5;
	color: #999;
	text-decoration: none;
	}
a.self:visited {
	color: #999;
	}
a.self:hover {
	color: red;
	}
a.self::after {
	content:  attr(href); 	
	font-weight: normal;
	font-style: italic;
	font-size: 80%;
	}

.editor-note { 
	font-style: italic; 
	color: teal;
	}
.ed { 
	font-style: italic; 
	color: white;
	background-color: #F90;
	padding-left: 10px; padding-right: 10px; 
	}

.new-term { 
	font-weight: bold 
	}
code { 
	font-family: monospace; 
	}
del { 
	display: inline; 
	color: silver; 
	}
section h2 {
	margin-top: 5em;
	margin-bottom: 0em;
	}
.head h2, #abstract h2, #sotd h2 {
	margin-top: 0;
	}
h3 {
	margin-top: 3em;
	}
h4  { font-size: 100%; font-weight: normal; }
h5 {
	margin-bottom: 0;
	}
ins { 
	background-color: #99FF99; 
	text-decoration: none; 
	}
.term { 
	font-weight: bold;
	margin-top: 1em;
	}
.definition {
    position: relative;
    background-color: #efefef;
    padding: 0.5em;
    border: 0.5em;
    border-left: 6pt solid green;
    border-right: 6pt solid green;
    margin: 1em auto;
}
a.termref:link {
	color:#C60;
	text-decoration:none;
	border-bottom: 1px dotted #FC0; 
	}
	
a.termref:hover {
	color:#C60;
	text-decoration:none;
	border-bottom: 1px dotted #FC0; 
	}
	
a.termref:visited {
	color:#C60;
	text-decoration:none;
	border-bottom: 1px dotted #FC0; 
	}
	
a.termref:active {
	color:#C60;
	text-decoration:none;
	border-bottom: 1px dotted #FC0; 
	}

      .note {
      	margin-left: 2em;
      	margin-right: 3em;
		margin-top: 1em;
      	border: 2px solid #CFF6D9;
      	padding: .5em;
      	padding-top: 0px;
      	padding-bottom: 1em;
      	color: #444;
      	background-color: #E2FFF0;
      	font-size: 0.8em;
      }
      span.note-head {
      	padding: .2em;
      	color:#066;
      	border: none;
      	position:relative;
      	display: block;
      	width: 40px;
      	left: -1.5em;
      	top: -.5em;
      	background: #F2FFF1;
      	padding-left: .2em;
      	text-align: center;
      }
	  
.counterstyle { margin: 20px 30px; }
.counterstyle code { font-family: "Lucida Console", Monaco, monospace; color: black; font-size: 12px; }

@media print {
 .bp { background: #ffcc99 }

body { font-size: 80%; margin: 2em; }
.copyright { font-size: 80%; }
}




h4 { 	color: #005a9c; margin-top: 2em;  }
.indent { margin-left: 3em; }

.links h4, .xref h4 {
    margin-top: 0;
}

.link { display: inline; }
.desc { display: inline; margin-left: 1em;  }
.desc:before { content: '— '; }

.links { 
	/*background-color: #a09de5; border: 1px solid #ccc; */  
	font-size: 90%; 
	padding: 1em;
	background-color: #EFEFF9; 
	border-radius: 5px;
	/*margin-bottom: 20px; 
	float: left; width: 60%;*/  
	}
.xref { 
	/* background-color: #feb; border: 1px solid #fc0; border-radius: 10px;*/  
	font-size: 80%; 
	padding: 1em; 
	background-color: #fbf4e0;
	border-radius: 5px;
	/*margin-bottom: 40px; 
	float: right;  width: 30%;*/ 
	padding: .25em 1em;
	}
.xref p {
	line-height: 1.2;
	margin-top: 0;
	margin-bottom: .5em;
}

.subtopic, .topic { clear: both; }

.bigtext {
    font-size: 36pt;
    color: blue;
    text-align: left;
    }

aside h2 {
    margin-top: 0em;
    }
    
table.cpExample {
    table-layout: fixed;
    width: 80%;
    }
    
p.sidenote {
    color: gray;
    font-size:60%;
    }
    
table.truncExample th,td {
    vertical-align: top;
    }
    
table.truncExample kbd,code {
    color: blue;
    font-size: larger;
    }

.summary .secno {
	display: none;
	}
	
.example_div {
    margin-left: 4em;
    margin-right: 4em;
    font-size: 90%;
	}

aside h3 {
	margin-block-start: 0;
	margin-inline-start: 1em;
	}
aside h4 {
	margin-inline-start: 1em;
	}




.advisement + .links { margin-top: -1em; }
.advisement + .links a { text-decoration: none; border-bottom: none; }
.advisement { }
.req { position: relative; }
.req .links { padding-bottom: 0; }
/*.req::before {
    content: "§";
    display: block;
    border: none;
    color: inherit;
    font-size: 83%;
    height: 2em;
    left: -1.6em;
    opacity: .5;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 0;
    transition: opacity .2s;
    width: 2em;
	}*/
.req .self-link {
	margin-left: -1em;
	float: left;
	text-decoration: none;
	border: 0;
	font-size: 80%;
	color: #999;
	}
.req summary {
	margin: 0;
    margin-top: 0px;
	margin-top: -1em;
	font-size: 80%;
	font-weight: normal;
	line-height: 1;
	cursor: pointer;
	}

.seealso {
	color: #996600;
	font-size: 95%;
	font-weight: bold;
	}


.links_title { margin-top: 0; font-weight: bold; color: #005a9c; }
.links_subtitle { font-style: italic; margin-block-start: 1rem; margin-bottom: 0; }


