
a#On, a#Off {
   padding: 0.1em 0.5em 0.1em 0.5em;
   margin:  0 0.5em 0 0;
   text-decoration:none;
   background:#005a9c;
   color: #fc6;
   font-weight:bold;
   cursor: pointer
   border-radius: 5px; 
   }

.hideIfNoJS {
	display: none;
	}

/*.summary { display: none; } */

.triggerOpen a:before { content: '▷ \00A0'; } 
.triggerClosed a:before { content: '▽ \00A0';  }

/* △  */

h2 {
	border-radius: 8px;
	}
h2.triggerOpen{
	background-color: #697fb1;
	margin-bottom: 5px;
	margin-top: 5px;
	}
h2.triggerClosed{
	background-color: #697fb1;
	margin-bottom: 5px;
	margin-top: 5px;
	}

section h3.triggerOpen{
	margin-bottom: 0px;
	margin-top: 0px;
	padding: 0;
	color: red;
	border: 0;
	}
section h3.triggerClosed{
	border-top: 1px solid #CCC; 
	margin-top: 10px; 
	}

.triggerOpen a, .triggerClosed a {
	margin-left:0px;
	text-decoration: none;
	cursor: pointer;
	}

/*div.resource-box { border:0; }*/

h2.triggerOpen a:hover, h2.triggerClosed a:hover {
	color:white;
	}



.hiddenContent {
   display: none;
   }
   
#otherNews .revealedContent {
   padding-left: 14px;
   }
#otherNews ul.revealedContent {
   padding-left: 30px;
   margin-left: 0;
   }
   
   

.h2 span { font-size: 80%; }

.h2toggle { 
	float: right;
	padding-right: 20px;
	padding-left: 30px:
	font-size: 90%;
	}
.h2toggle:before {
	content: '\00A0  ▽'; 
	}


div.showhide { 
	float: right;
	font-size: 80%;
	margin-right: 4%;
	line-height: 1em; 
	}
