div.resource-box {
	/* border-top: 1px solid #CCC; */
	margin-left: 4%;
	clear: both;
	}

summary.h2 {
	border-radius: 8px;
    clear: both;
    margin-left: 3%;
    font-family: Arial, helvetica, sans-serif;
    font-size: 140%;
    font-weight: normal;
    color: white;
    border: none;
    padding: 0.1em 0.4em;
	background-color: #697fb1;
    margin-bottom: .25em;
	}
summary.h3 {
    font-weight: normal;
    font-size: 140%;
    margin-top: 0;
    margin-left: 3%;
    border-bottom: 0;
    padding-top: 10px;
    margin-bottom: 0px;
    font-family: Arial, helvetica, sans-serif;
    color: #697fb1;
    line-height: 1.1;
    }
details[open] details[open] summary.h3 {
    background-color: antiquewhite;
    border-radius: .5em;
    padding-bottom: .25em;
    padding-left: .25em;
}
h5, summary.h5 { 
	margin-left: 0; 
	color: #996600; 
	margin-top: 0; 
	margin-bottom: 0; 
    font-size: 95%;
    font-weight: bold;
	}
summary {
    cursor: pointer;
    }
summary a {
    float: right;
    font-size: 60%;
    margin-right: 2em;
    text-decoration: none;
    }
summary a:link, summary a:visited {
    color: inherit;
    }


details[open] {
    margin-bottom: 1em;
    }


div.resource-box div {
	margin-left: 3%;
	margin-bottom: 1em;
	padding-top: 10px;
	margin-right: 2%;
	}
	

/*
.w3 { list-style-image: url(../../icons/w3.png); }
.nonw3 { list-style-image: url(../../icons/external.png); }
*/


.bp { 
	list-style-image: url(../icons/recommended.png); 
	color: brown;
    font-weight: 400;
	}

li {
    margin-top: 0;
    margin-bottom: 0
    }
li p.link { 
	margin-bottom: 0; 
    margin-top: .5em;
	padding-bottom: 0; 
	font-size: 110%;
	}
li p.desc { 
	margin-top: 0;
    margin-bottom: 0;
	padding-top: 0; 
	font-size: 90%; 
	}

.resource-box .checklist > ul  {
	margin: 10px 4% 10px 0;
	padding: 0;
	}
/*.resource-box .checklist > ul > li {
	list-style-image: none;  
	list-style-type: none; 
	background-image:  url("../../icons/checkbox.png"); 
	background-position: top left; 
	padding: 0 0 0 30px; 
	background-repeat: no-repeat; 
	margin: 0 0 10px 0;
	min-height: 27px; 
	} */
.resource-box .checklist > ul > li {
	list-style-image: none;  
	list-style-type: none; 
	padding: .3em 1em; 
	background-repeat: no-repeat; 
	margin: 0 0 10px 0;
	min-height: 27px; 
	font-size: 105%;
	color: brown;
	background-color: antiquewhite;
	border-radius: 5px;
	}

.resource-box .xref {
	border-radius: 8px;
	/* border: 1px solid #FC0; */
	border: 4px solid white;
	padding: 10px;
	font-size: 90%;
	background-color: #FEB;
	float: right;
	width: 20%;
    margin-top: .4em;
	}
.resource-box .xref p {
	margin: 0;
	}

.resource-box .goto {
	font-size: 75%;
	background-color: white;
	padding: 0;
	margin: 0;
	text-align: right;
	clear: both;
	width: 100%;
	border-block-start: 1px solid #CCC;
	}





















	/*
.resource-box .checklist {
	float: right;
	width: 52%;
	clear: right;
	margin: 0 4% 10px 0;
	}
	*/
.resource-box .gotox {
	border-radius: 8px;
	border: 1px solid #FC0;
	padding: 10px;
	font-size: 80%;
	background-color: white;
	float: right;
	width: 52%;
	margin: 0 4% 10px 0;
	}
.resource-box .goto h5 {
	margin: 0;
	display: inline;
	padding: 0;
	}
.resource-box .goto li {
	margin: 0;
	display: inline;
	padding: 0;
	}
.resource-box .goto li:before {
	content: ' \2022  '
	}
.resource-box .goto ul {
	margin: 0;
	display: inline;
	padding: 0;
	}

/*
h3 a {
	color: #006;
	}
h3 a:visited {
	color: #006;
	}
h3 a:link {
	color: #006;
	}
*/





p.toc2 { 
	margin-left: 50px; 
	}
dl dl { 
	margin-right: 0; 
	margin-left: 0px; 
	}
.toc1 { 
	margin-left: 1em; 
	margin-right: 1em; 
	margin-top: 1em; 
	color: #005a9c; 
	background: white; 
	}
.toc2 { 
	margin-left: 2em; 
	margin-right: 1em; 
	margin-top: .5em; 
	font-size: 90%; 
	}
h2 {
	clear:both;
	margin-left: 3%; 
	}
	
div.resource-box div.rec { 
	Xwidth: 45%; 
	Xfloat: right; 
	margin-left: 2%; 
	}

h3 {
	font-weight:normal; 
	font-size: 140%;
	margin-top: 0;
	border-bottom: 0;
	padding-top: 10px;
	
	margin-bottom: 20px
	}
h3 a:link {
	color: #697fb1;
	}
h3 a:visited {
	color: #697fb1;
	}
h3 a:active {
	color: #697fb1; background-color:#FFF; 
	}

.rec ul {
	margin-bottom: 30px;
}
.resource-box div.seealso { 
	text-align: left; 
	padding: 4px;
	font-size: 80%;
	background-color: #Feb;
	border-radius: 8px;
	border: 1px solid #fff;
	padding-right: 8px;
	margin: 0;
	margin-bottom: 30px ;
	width: 80%;
	}
/* experiment */
.resource-box div.seealso { 
	font-size: 80%;
	background-color: white;
	border-radius: 8px;
	border: 1px solid #fc0;
	padding: 10px;
	}
.resource-box div.othersections {
	font-size: 90%;
	background-color: #feb;
	}
	
	
.seealso li, .links li { 
	list-style-type: none; 
	margin: 0; 
	padding: 0;
	padding-left: 10px;
	background: url(/International/icons/go.png) no-repeat left 2px;
	}
.seealso p { 
	margin: 0; 
	padding: 0; 
	}
resource-box div.othersections p { margin-bottom: 10px; }	
.seealso ul, .seealso h5 {
	margin: 0;
	padding: 0;
	}
	
	
.resource-box div.links, .summary .links {
	padding: 4px;
	font-size: 80%;
	text-align: right;
	background-color: #Feb;
	border-radius: 8px;
	border: 1px solid #fff;
	margin: 0;
	margin-bottom: 30px;
	width: 80%;
	}

	
	
h4 { 
	margin-left: 10%; 
	margin-bottom: 0; 
	margin-right: 32%; 
	font-size: 90%; 
	} 
	/* border-bottom: 1px solid #996600;  */
div.icons { 
	float: right; 
	margin-right: 2em; 
	}
ins { 
	text-decoration: none; 
	}
del { 
	display: none; 
	}
.collapse + ul { 
	display: none; 
	}
.back { 
	text-align: right; 
	font-size: 80%;  
	margin: 0; 
	padding: 0; 
	}
.expandall {
	text-align: right; 
	}
.summary {
	margin-left: 4%;
}
.summary p {
	padding-top: 0;
	float:none;
	margin-bottom: 0;
	padding-bottom: 0;
	font-size: 90%;
	}
.summary li, .summary ul { 
	margin-left: 0; 
	padding-left: 0; 
	}
.summary li, .summary ul { 
	margin-left: 8px;
	}
.summary  ul { 
	margin-top: 3px;
	}
.summary li { 
	line-height: 1.4em;
	}
hr { clear: both; }

.type { font-size: 65%; margin-left: 5px; width: 250px; }

li.bp img {
	vertical-align: sub;
	margin-left: 8px;
	cursor: pointer;
}

div.resource-box .recommendations { width: 80%; }

.bp a { font-style: italic; font-size: 90%; }


.showhide { display: none; } /* this has to stay here to avoid interference */
/*.bp { list-style-image: none;  list-style-type: none; background-image:  url("images/checkbox.png"); background-position: top left; padding: 0 0 0 30px; background-repeat: no-repeat; margin: 0;  } */
.recommendations ul { padding: 0; }
.recommendations ul ul { padding-left: 30px; }
.seealso { font-size:90%; padding:10px; }
/* div.resource-box div { width: 36%; }
div.resource-box div.rec { width: 55%; }
*/
.bp1 {list-style-image: none;  list-style-type: none; background-image:  url("images/checkbox.png"); background-position: top left; padding: 0 0 0 30px; background-repeat: no-repeat; margin: 0;  }
.seealso1 {font-size:90%; padding:10px; }
.directory h2 { margin-left: 0; }
.secno { display: none; }
/*.checklist .xref { width: 85%; margin-top: 2em; margin-bottom: 2em; margin-left: 2em; }*/

#mainECButtons button {
	font-size: 120%; 
	cursor:pointer;
	border: 0;
	background-color: transparent;
	}
.otherlinks {
	cursor: pointer;
	}