body { 
	background-color: #ffffee; 
	font-size: 60px; 
	font-family: serif; 
	color: #001697; 
	padding: 2em;
	}
p {
	text-align: center;
	}
.vertical {
	-webkit-writing-mode: vertical-rl;
	writing-mode: vertical-rl;
	
	}
.instructions {
	font-size: 70%;
	color: gray;
	}

