@font-face {
    font-family: 'Noto Sans Tifinagh WF';
    src: url('NotoSansTifinagh-Regularwebfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}



.browser_output {
    font-size: 1.15rem;
    border: 1px solid #ccc;
    padding: 1rem;
    line-height: 1.4;
    margin-inline-start: 7.5%;
    margin-inline-end: 32%;
    }
.browser_output p {
    margin: 0;
    }
.browser_output_title {
    font-size: .8rem;
    font-weight: bold;
    }
.browser_output p:first-of-type {
	margin-block-end: .25rem;
	}




/* STYLING FOR EXAMPLES */

.browser_output h2 {
    margin-block-start: 1rem;
    }

[lang=ber] {
	font-family: 'Noto Sans Tifinagh WF';
	}

#out_bdo_mirrored bdo {
    transform: rotateY(180deg); display: inline-block;
    }
#out_styled_rlo .rlo {
    unicode-bidi: bidi-override; direction: rtl; text-align: right;
    }
#out_styled_rlo_bidi .rlo { unicode-bidi: bidi-override; direction: rtl; text-align: right; }
#out_styled_rlo_bidi .lro { unicode-bidi: bidi-override; direction: ltr; }
#out_mirrored bdo { transform: rotateY(180deg); display: inline-block; }
#out_styling_bdo .rlo { unicode-bidi: bidi-override; direction: rtl; text-align: right; }
#out_styling_bidi .rlo { unicode-bidi: bidi-override; direction: rtl; text-align: right; }
#out_styling_bidi .lro { unicode-bidi: bidi-override; direction: ltr; }




/* Chinese translation */
em:lang(zh) {
    font-style: normal;
    text-emphasis: dot;
    -webkit-text-emphasis: dot;
    text-emphasis-position: under right;
    -webkit-text-emphasis-position: under right;
}

/**
 * TOOLTIP STYLES
 */

/* Base styles for the element that has a tooltip */
[data-tooltip],
.tooltip {
  position: relative;
  cursor: pointer;
  text-decoration: underline dotted;
}

/* Base styles for the entire tooltip */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 
	  opacity 0.2s ease-in-out,
		visibility 0.2s ease-in-out,
		-webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
	-moz-transition:    
		opacity 0.2s ease-in-out,
		visibility 0.2s ease-in-out,
		-moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
	transition:         
		opacity 0.2s ease-in-out,
		visibility 0.2s ease-in-out,
		transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform:    translate3d(0, 0, 0);
  transform:         translate3d(0, 0, 0);
  pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
  visibility: visible;
  opacity: 1;
}

/* Base styles for the tooltip's directional arrow */
.tooltip:before,
[data-tooltip]:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: "";
}

/* Base styles for the tooltip's content area */
.tooltip:after,
[data-tooltip]:after {
  z-index: 1000;
  padding: 8px;
  width: 110px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  font-size: 14px;
  line-height: 1.2;
}

[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after {
  bottom: 100%;
  left: 50%;
}

[data-tooltip]:before,
.tooltip:before {
  margin-left: -6px;
  margin-bottom: -12px;
  border-top-color: #000;
  border-top-color: hsla(0, 0%, 20%, 0.9);
}

/* Horizontally align the tooltips */
[data-tooltip]:after,
.tooltip:after {
  margin-left: -55px;
  /* 110px / 2 */
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
  -webkit-transform: translateY(-12px);
  -moz-transform:    translateY(-12px);
  transform:         translateY(-12px); 
}
