@font-face {
    font-family: 'Noto Sans Tifinagh WF';
    src: url('NotoSansTifinagh-Regularwebfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}



.browser_output {
    font-size: 1.15rem;
    border: 1px solid #ccc;
    padding: 1rem;
    line-height: 1.4;
    margin-inline-start: 7.5%;
    margin-inline-end: 32%;
    }
.browser_output p {
    margin: 0;
    }
.browser_output_title {
    font-size: .8rem;
    font-weight: bold;
    }
.browser_output p:first-of-type {
	margin-block-end: .25rem;
	}




/* STYLING FOR EXAMPLES */

.browser_output h2 {
    margin-block-start: 1rem;
    }

[lang=ber] {
	font-family: 'Noto Sans Tifinagh WF';
	}

#out_bdo_mirrored bdo {
    transform: rotateY(180deg); display: inline-block;
    }
#out_styled_rlo .rlo {
    unicode-bidi: bidi-override; direction: rtl; text-align: right;
    }
#out_styled_rlo_bidi .rlo { unicode-bidi: bidi-override; direction: rtl; text-align: right; }
#out_styled_rlo_bidi .lro { unicode-bidi: bidi-override; direction: ltr; }
#out_mirrored bdo { transform: rotateY(180deg); display: inline-block; }
#out_styling_bdo .rlo { unicode-bidi: bidi-override; direction: rtl; text-align: right; }
#out_styling_bidi .rlo { unicode-bidi: bidi-override; direction: rtl; text-align: right; }
#out_styling_bidi .lro { unicode-bidi: bidi-override; direction: ltr; }
