.browser_output {
    font-size: 1.4rem;
    border: 1px solid #ccc;
    padding: 1rem;
    line-height: 1.4;
    margin-inline-start: 7.5%;
    margin-inline-end: 32%;
    }
.browser_output p, .example pre {
    margin: 0 !important;
    }
.browser_output_title {
    font-size: .8rem;
    font-weight: bold;
    }
.browser_output p:first-of-type {
	margin-block-end: .5rem;
	}



/*#top_rated { font-family:Georgia, 'Times New Roman', Times, serif;}*/
#top_rated header { 
    font-size: 120%;
    color: #09F;
    text-transform:uppercase;
    line-height: 1.4em;
    border-top: 1px solid #09F;
    border-bottom: 1px solid #09F;
    padding: 5px;
    }
#top_rated #displaybox { color: #999; }
#top_rated .name { color: black; }
#top_rated p { margin-bottom: 0; }