@font-face {
    font-family: 'Noto Sans Mongolian WF';
    src: 	url('https://www.w3.org/International/webfonts/notosansmongolian-regular-webfont.woff2') format('woff2'),
         	url('https://www.w3.org/International/webfonts/notosansmongolian-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}

:lang(mn) {
	font-family: "Noto Sans Mongolian", "Noto Sans Mongolian WF", "Mongolian Baiti", "Mongolian White", sans-serif;
	}

/*
.annotatedCode {
	display: flex;
	flex-flow: row nowrap;
	}
.acFigure {
	margin: 0 0 0 7.5%;
	width: 60.5%;
	}
.acNote {
	margin: 0 2% 0 3%;
	width: 25%;
	}
.annotatedCode figure {
	margin: 0;
	}
.annotatedCode aside {
	margin: 0;
	float: none;
	width: 100%; 
	}
.simpleimplnote {
	color: #666;
	background-color: #ffeadd;
	font-size: 80%;
	line-height: 1.2em;
	border: 1px solid #CCC;
	padding: 5px 10px 5px 15px;
	border-radius: 10px;
	}
.simpleimplnote p {
    margin: .5em 0;
	}
	
.impl::before {
    float: right;
    font-family: Old English, Georgia,serif;
    font-size: 300%;
    line-height: 1em;
    margin-left: 0.3em;
    margin-bottom: 0;
    font-weight: 700;
	}

.flexNoteBox {
	display: flex;
	vertical-align: top;
	}
.flexMain {
	width: 60.5%;
	margin-left: 7.5%;
	}
.flexMain p {
	margin: 0;
	}
.flexNote {
    float: none;
    width: 25%;
    line-height: 1.2em;
    border: 1px solid #CCC;
    padding: 5px 10px 5px 15px;
    border-radius: 10px;
    margin-left: 3%;
	}
.flexNote p {
	margin:0;
	font-size: 80%;
	}
.flexNote aside {
	margin: 0;
	float: 0;
	}
*/

.annotatedCode {
	display: flex;
	flex-flow: row nowrap;
	}
.acFigure {
	margin: 0 0 0 7.5%;
	width: 60.5%;
	}
.acNote {
	margin: 0 2% 0 3%;
	width: 25%;
	}
.annotatedCode figure {
	margin: 0;
	}
.annotatedCode aside {
	margin: 0;
	float: none;
	width: 100%; 
	}
.simpleimplnote {
	color: #666;
	/*background-color: #ffeadd;*/
	font-size: 80%;
	line-height: 1.2em;
	/*border: 1px solid #CCC;*/
	padding: 5px 10px 5px 15px;
	border-radius: 10px;
	}
.simpleimplnote p {
    margin: .5em 0;
	}
/*.impl::before {
    float: right;
    font-family: Old English, Georgia,serif;
    font-size: 300%;
    line-height: 1em;
    margin-left: 0.3em;
    margin-bottom: 0;
    font-weight: 700;
	}
	*/
.acFigure p {
	margin-left: 0;
	margin-right: 0;
	}
.implnote {
	background-color: white;
	border: 0;
	}
.impl::before {
    content: '';
	}





.flexAnnotation {
	display: flex;
	flex-flow: row nowrap;
	}
.faMain {
	margin: 0 0 0 7.5%;
	width: 60.5%;
	}
.faNote {
	margin: 0 2% 0 3%;
	width: 25%;
	}
.flexAnnotation figure {
	margin: 0;
	}
.flexAnnotation aside {
	margin: 0;
	float: none;
	width: 100%; 
	}
.simpleimplnote {
	color: #666;
	/*background-color: #ffeadd;*/
	font-size: 80%;
	line-height: 1.2em;
	/*border: 1px solid #CCC;*/
	padding: 5px 10px 5px 15px;
	border-radius: 10px;
	}
.simpleimplnote p {
    margin: .5em 0;
	}
/*.impl::before {
    float: right;
    font-family: Old English, Georgia,serif;
    font-size: 300%;
    line-height: 1em;
    margin-left: 0.3em;
    margin-bottom: 0;
    font-weight: 700;
	}
	*/
.faMain p {
	margin-left: 0;
	margin-right: 0;
	}
.implnote {
	background-color: white;
	border: 0;
	}
.impl::before {
    content: '';
	}
figcaption .demolink {
	display: block;
	font-size: 80%;
	text-align: center;
	}
.faMain .example {
	text-align: left;
	}
.faMain figure {
	text-align: center;
	}

.figWrap {
	margin-left: 7.5%;
	margin-right: 32%;
	}
.figWrap figure {
	text-align: center;
	margin-left: 0;
	margin-right: 0;
	margin: 0;
	}
.demolink { 
	font-size: 70%; 
	position: static; 
	text-align: left;
	margin-left: 1em;
	margin-bottom: 1em;
	}
.example .demolink { 
	font-size: 70%; 
	position: static; 
	text-align: right;
	margin: 0;
	}



pre.language-css, pre.language-html {
    margin-inline-start: 0 !important;
    margin-inline-end: 0;
    }

.vertical {
    writing-mode: vertical-rl;
    }
.browser_output {
    font-size: 1.15rem;
    border: 1px solid #ccc;
    padding: 1rem;
    line-height: 1.4;
    margin-inline-start: 7.5%;
    margin-inline-end: 32%;
    }
.browser_output p {
    margin: 0;
    }
.browser_output_title {
    font-size: .8rem;
    font-weight: bold;
    }
.browser_output p:first-of-type {
	margin-block-end: .5rem;
	}




/* STYLING FOR EXAMPLES */

#out_aligning_pinyin rt { font-family: "times new roman"; }

#position_under ruby { ruby-position: under; }
#out_position_over ruby { ruby-position: over; }



#out_bopomofo_position ruby { ruby-position: inter-character; }

#out_double_position ruby { ruby-position: over; }
#out_double_position rtc { ruby-position: under; }
#out_double_position { font-size: 50px; color: #ccc; }

#out_double_position2 ruby { ruby-position: under; }
#out_double_position2 ruby ruby { ruby-position: over; }
#out_double_position2 { font-size: 50px; color: #ccc; }

#out_inline_interleaved ruby { font-size: 1.4rem; }
#out_inline_interleaved rt { display: inline; font-size: 1em; }
#out_inline_interleaved rt::before { content: '（'; }
#out_inline_interleaved rt::after { content: '）'; }

#out_inline_tabular ruby { font-size: 1.4rem; }
#out_inline_tabular rt { display: inline; font: inherit; }
#out_inline_tabular rtc::before { content: "（"; }
#out_inline_tabular rtc::after  { content: "）"; } 
#out_inline_tabular rb  + rt::before, rtc + rt::before { content: "（"; } 
#out_inline_tabular rb ~ rt:last-child::after  { content: "）"; } 
#out_inline_tabular rt + rb::before  { content: "）"; } 
#out_inline_tabular rt + rtc::before { content: "）（"; }


#out_aligning_ends ruby { ruby-align: start; }
#out_aligning_ends ruby:first-of-type rb { border-inline-end: 1px solid red; }
#out_aligning_ends ruby:first-of-type rt { border-inline-end: 1px solid red; }

#out_aligning_centered ruby { ruby-align: center; }
#out_aligning_centered ruby:first-of-type rb { border-inline-end: 1px solid red; }
#out_aligning_centered ruby:first-of-type rt { border-inline-end: 1px solid red; }

#out_aligning_space_between ruby { ruby-align: space-between; }
#out_aligning_space_between ruby:first-of-type rb { border-inline-end: 1px solid red; }
#out_aligning_space_between ruby:first-of-type rt { border-inline-end: 1px solid red; }

#out_aligning_space_around ruby { ruby-align: space-around; }
#out_aligning_space_around ruby:first-of-type rb { border-inline-end: 1px solid red; }
#out_aligning_space_around ruby:first-of-type rt { border-inline-end: 1px solid red; }

#out_aligning_pinyin ruby { ruby-align: space-between; }
#out_aligning_pinyin ruby:first-of-type rb { border-inline-end: 1px solid red; }
#out_aligning_pinyin ruby:first-of-type rt { border-inline-end: 1px solid red; }




.browser_output h2 {
    margin-block-start: 1rem;
    }

[lang=ber] {
	font-family: 'Noto Sans Tifinagh WF';
	}

#out_bdo_mirrored bdo {
    transform: rotateY(180deg); display: inline-block;
    }
#out_styled_rlo .rlo {
    unicode-bidi: bidi-override; direction: rtl; text-align: right;
    }
#out_styled_rlo_bidi .rlo { unicode-bidi: bidi-override; direction: rtl; text-align: right; }
#out_styled_rlo_bidi .lro { unicode-bidi: bidi-override; direction: ltr; }
#out_mirrored bdo { transform: rotateY(180deg); display: inline-block; }
#out_styling_bdo .rlo { unicode-bidi: bidi-override; direction: rtl; text-align: right; }
#out_styling_bidi .rlo { unicode-bidi: bidi-override; direction: rtl; text-align: right; }
#out_styling_bidi .lro { unicode-bidi: bidi-override; direction: ltr; }


