td.wlist { background-color: #98FB98; }
td.notwlist { background-color: #FF6347; }
table.results { margin-right: 40px; }
table.results td { text-align: left; vertical-align: top;  }
table.results th { text-align: left; vertical-align: top;  }
table.results td p { margin: 1em; }
table.results td ol { margin-left: 0; padding-left: 3em; margin-right: 1em; }
table.results th { line-height: 1em;  }
table.results th.side { vertical-align: top;   }
table.results th.title { font-size: 100%;   }
table.results th.topleft { width: 12em; vertical-align: top; text-align: right;  }
table.results td { vertical-align: middle; min-width: 50px; padding: 0; }
table.results td.links { border: 0; min-width: 10px; width: 15px; text-align: center; vertical-align: top; }

.y { background-color: #98FB98; }
.p { background-color: #EEC900; }
.n { background-color: #FF6347; }

table .assert { width:25%; font-weight: normal; }
table th.title { text-align: right; }
.thtop { text-align: center; }
.assertionContainer { color: #930; font-size:75%; height: 3em; line-height: 1.2em; }
.testLink { color: #930; font-size: 75%; text-align: right; margin-right: 50px;  }
.links { font-size: 75%; }
.notes, .dependencies { font-size: 75%; margin-bottom: 80px; margin-left: 10%; margin-right: 40px; }
.dependencies { border: 1px solid #ddd; border-radius: 10px; margin-bottom: 50px; }
.notesheader { font-weight: bold; margin-left: 10%; }
p.notes { margin-left: 12%;  }

.exp { color: #bb6219; font-style: italic; }
/* .key { color: #930; font-size: 85%; line-height:1.4em; } */
.key p { color: black; margin-top: 0; margin-bottom: 0; padding: 4px 8px; border: 1px solid teal; }

.results .partial, .results .uncertain { background-color: #FC6; color: black; font-size: 70%; text-align: center; cursor: pointer; }
.invalid { background-color: #CCC; cursor: pointer; }
.results .fail { background-color: #F66; font-size: 70%; text-align: center; cursor: pointer; }
.results .skipped { background-color: #ccc; font-size: 70%; text-align: center; cursor: pointer; }
.fail.uncertain { background-color: #FAA; color: black; }
.results .pass { background-color: #8F8; font-size: 70%; text-align: center; cursor: pointer; }
.pass.fail, .pass.uncertain { background-color: #BFB; color: black; }


h4 { margin-left: 7.5%; margin-right: 32%; display: block; }
h4 a:link { color: black; }
h4 a:active { color: black; }
h4 a:hover { color: black; }
h4 a:visited { color: black; }

.summary { margin-bottom: 3em; margin-left: 7.5%; border-left: 4px solid #CCC; }
.summary p, .summary h4 { margin-left: 20px; }
.summary h4 { font-size: 1em; color: #999; }

.summary .browsers { font-size: 90%; font-style: italic; font-weight: normal; }
.summary .browsers:before { content: '[ '; }
.summary .browsers:after { content: ' ]'; }

q { font-size: 95%; font-style: italic; }


.detailedresults td { text-align: start; padding: 0 5px; }
.detailedresults { margin-top: 0; margin-bottom: 20px; margin-right: 50px; border-collapse: collapse; box-shadow: 7px 7px 5px #888; clear: both; }
.detailTitle { margin-bottom: 0; margin-left: 8%; }
.closeDetail { font-size: 80%; color: #999; float: right; margin: 0; margin-right: 60px; vertical-align: bottom; cursor: pointer; }
.testName { font-size: 70%; color: #aaa; font-weight: 300; white-space: nowrap; }
.detailedresults .uncertain { background-color: #FC6; }
.detailedresults .fail { background-color: #F66; }
.detailedresults .pass { background-color: #8F8; }