
.codeExample { margin:0 0 0 7.5%; width: 60%; }
.codeExample figure { margin:0; }
.sidebarNote { margin: .5em 1em 0 2em; }
.sidebarNote aside { margin: 0; float: none; width: 24%; }
.multipleFigs { display: flex; flex-direction: row; flex-wrap: wrap; }
.multipleFigs>div { flex:1; text-align:center; }

.browser_output p.options { font-size: 70%; margin-block-start: 2rem; }

.language-css code { padding: 0; }


aside .moreTests p { margin-inline: 7.5%; }
aside hr { width: 50%; color: #eee; }


details.moreTests { font-size: 90%; margin-block: 1rem; }
/*details.moreTests p { margin-inline-start:7.5%; margin-inline-end: 32%; }
*/summary { font-style: italic; cursor: pointer; margin-inline-start: 7.5% }
details p { margin-inline: 0; }

details figure { margin-inline: 7.5%; }


.testData { background: seashell; padding: 1rem; }



dl {
    margin-inline-start: unset;
    margin-inline-end: unset;
    }
dt {
    margin-inline-start: 7.5%;
    margin-inline-end: 32%;
    }
dd {
    margin-inline-start: 10%;
    margin-inline-end: 32%;
    }




#tst_values aside {
    float: none;
    width: unset;
    }

#tst_values aside p {
    margin-inline:0;
    }





#demo-letter_spacing .test_lines { font-size: 2.4rem; line-height: 2; }

#demo-autospace .test_lines { font-size: 1.6rem; line-height: 2; }
#demo-autospace .test_lines span { background: antiquewhite; }

#demo-text_spacing_trim .test_lines { font-size: 2rem; line-height: 2; font-family: YuMincho, "MS Mincho","Noto Serif CJK JP"; }
#demo-text_spacing_trim span { background-color: antiquewhite; }

#tst_values td:nth-child(3) { max-width: 30em; }
#tst_values tr td:nth-child(2) { color: burlywood; white-space: nowrap; }
#tst_values tr td { font-size: 90%; }
#tst_values tr td:nth-child(4), #tst_values tr td:nth-child(5) { text-align: end; }

#font_dependencies th { line-height: 1; width:15em; }
#font_dependencies th:nth-child(2) { width: 8em; }

#demo-trim-start .test_lines { font-size: 1.6rem; line-height: 1.4; font-family: YuMincho, "MS Mincho","Noto Serif CJK JP"; writing-mode:vertical-rl; height: 10.5em; margin: 1em; }
#demo-trim-start span { background-color: antiquewhite; }
#demo-trim-start p { margin-block: 1em; }

#demo-indent .test_lines { font-size: 1.6rem; line-height: 1.4; font-family: YuMincho, "MS Mincho","Noto Serif CJK JP"; writing-mode:vertical-rl; height: 10.5em; margin:1em; }
#demo-indent span { background-color: antiquewhite; }
#demo-indent p { margin-block: 0; text-indent: 1em; text-spacing-trim: trim-start; hanging-punctuation: first; }

#demo-chinese .test_lines { font-size: 1.6rem; line-height: 1.4; font-family: "Hiragino Sans TC", "PMingLiu","Noto Serif CJK TC"; writing-mode:vertical-rl; height: 11em; margin:1em; }
#demo-chinese span { background-color: antiquewhite; }
#demo-chinese p { margin-block: 0; text-indent: 2em; text-spacing-trim: trim-start; }

#demo-spacefirst .test_lines { font-size: 1.6rem; line-height: 1.4; font-family: YuMincho, "MS Mincho","Noto Serif CJK JP"; writing-mode:vertical-rl; height: 10.5em; margin: 1em; }
#demo-spacefirst span { background-color: antiquewhite; }
#demo-spacefirst p { margin-block: 0; text-spacing-trim: space-first; }








