
.codeExample { margin:0 0 0 7.5%; width: 60%; }
.codeExample figure { margin:0; }
.sidebarNote { margin: .5em 1em 0 2em; }
.sidebarNote aside { margin: 0; float: none; width: 24%; }
.multipleFigs { display: flex; flex-direction: row; flex-wrap: wrap; }
.multipleFigs>div { flex:1; text-align:center; }

.browser_output p.options { font-size: 70%; margin-block-start: 2rem; }

.language-css code { padding: 0; }


aside .moreTests p { margin-inline: 7.5%; }
aside hr { width: 50%; color: #eee; }


details.moreTests { font-size: 90%; margin-block: 1rem; }
/*details.moreTests p { margin-inline-start:7.5%; margin-inline-end: 32%; }
*/summary { font-style: italic; cursor: pointer; margin-inline-start: 7.5% }
details p { margin-inline: 0; }

details figure { margin-inline: 7.5%; }


.testData { background: seashell; padding: 1rem; }



dl {
    margin-inline-start: unset;
    margin-inline-end: unset;
    }
dt {
    margin-inline-start: 7.5%;
    margin-inline-end: 32%;
    }
dd {
    margin-inline-start: 10%;
    margin-inline-end: 32%;
    }

















