@font-face {
    font-family: 'Scheherazade New WF';
    src: url('../../../style/fonts/scheherazadenew-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}



.codeExample { margin:0 0 0 7.5%; width: 60%; }
.codeExample figure { margin:0; }
.sidebarNote { margin: .5em 1em 0 2em; }
.sidebarNote aside { margin: 0; float: none; width: 24%; }
.multipleFigs { display: flex; flex-direction: row; flex-wrap: wrap; }
.multipleFigs>div { flex:1; text-align:center; }

.browser_output p.options { font-size: 70%; margin-block-start: 2rem; }

details.moreTests { font-size: 80%; margin-block: 2rem; }
summary { font-style: italic; cursor: pointer; margin-inline-start: 5% }
details p { margin-inline: 0; }

details figure { margin-inline:7.5%; }


.language-css code { padding: 0; }


details ol {
    margin-inline-start: 4em;
    margin-inline-end: 0;
    }


dl {
    margin-inline-start: unset;
    margin-inline-end: unset;
    }
dt {
    margin-inline-start: 7.5%;
    margin-inline-end: 32%;
    }
dd {
    margin-inline-start: 10%;
    margin-inline-end: 32%;
    }


.floatedImplnote {
    font-size: 80%;
    }


.implTable td {
    border: 1px solid #eee;
    text-align: center;
    width: 2em;
    }

.implTable th {
    white-space: nowrap;
    text-align: center;
    line-height: 1;
    }

.browser_icon {
    width: 1.2rem;
    height: 1.2rem;
    opacity: 60%;
    }

.floatedImplnote .feature {
    font-weight: bold;
    font-size: 80%;
    margin-block-start: 1em;
    margin-block-end: 0;
    }
















