.articles {
	list-style-type: none;
	}
.articles li {
	margin-bottom: 5px;
	}
#introarticles {
	float: left;
	width: 48%;
	}
#findinginfo {
	float: right;
	width: 48%;
	}
dt {
	font-size: 140%;
	margin-top: 1em;
	margin-bottom: 0.5em;
	margin-left: .5em;
	}
dt a::before {
	content: url("../../icons/goto.png") ' ';	
	}
dt a:link, dt a:visited, dt a:active { color: chocolate; }
dd {
	margin-top: 0.5em;
	}


@media print {

#introarticles, #findinginfo {
	float: none;
	width: 100%;
	}
}


#bodycontent {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	}
#bodycontent section {
	min-width: 20em;
	margin: 1em;
	width: 40%;
	}


.label { border-radius: 10px; background-color: #f9c9ff; font-weight: bold; padding: 1px 5px; }